{% extends 'base.html' %}
{% block define %}
  <div class="col-md-12 col-lg-12 teacher-host-nav">
    <div class="teacher-host-head text-center">
      <img class="teacher-head" src="{{ mentor.avatar }}"/>
      <p style="color: #ffffff;font-size: 18px;margin-top: 3px">{{ mentor.nick }}</p>
      <p style="color: #ffffff; font-size: 14px">
        授课<span style="color: red">{{ teach_courses }}</span>堂
        教过学员<span style="color: red">{{ teach_students }}</span>位
        获得<span style="color: red">￥{{ mentor.total_income }}</span>收入
      </p>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 teacher-container">
    <div class="container">
      <div class="col-md-2 col-lg-2">
        <div class="list-group list-teacher-user text-center">
          <a class="list-group-item" id="teacher_order_accept" href="/teacher/order_accept">
            <p>订单接收</p>
          </a>
          <a class="list-group-item" id="teacher_contact" href="/teacher/contact">
            <p>联系信息</p>
          </a>
          <a class="list-group-item" id="manage_courses" href="/teacher/manage_courses">
            <p>课程管理</p>
          </a>
          <a class="list-group-item" id="teacher_host" href="/teacher/host">
            <p>导师主页</p>
          </a>
          <a class="list-group-item" id="upload_video" href="/teacher/upload_video">
            <p>视频上传</p>
          </a>
          <a class="list-group-item" id="manage_indemnity" href="/teacher/indemnity">
            <p>赔款管理</p>
          </a>
        </div>
      </div>
      <div class="col-md-10 col-lg-10">
        {% block teacher_define %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
{% endblock %}