{% extends 'teacher/base_teacher.html' %}
{% block teacher_define %}
  <div style="padding-top:25px;" class="teacher-define col-lg-12 col-md-12">
    <form action="#" method="post">
      <div class="col-lg-12 col-md-12">
        <label class="col-md-2 col-lg-2 teacher-host-label">QQ：</label>
        <input class="col-md-10 col-lg-10 teacher-host-input" name="qq"/>
      </div>

      <div class="col-lg-12 col-md-12">
        <label class="col-md-2 col-lg-2 teacher-host-label">YY：</label>
        <input class="col-md-10 col-lg-10 teacher-host-input" name="yy"/>
      </div>

      <div class="col-lg-12 col-md-12">
        <label class="col-md-2 col-lg-2 teacher-host-label">手机号：</label>
        <input class="col-md-10 col-lg-10 teacher-host-input" name="phone"/>
      </div>

      <div class="col-lg-11 col-md-11" style="float: right;padding-left: 2.5%">
        <button type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;保&nbsp;&nbsp;&nbsp;存&nbsp;&nbsp;</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block script %}
  <script src="/js/teacher/contact.js"></script>
{% endblock %}