{% extends 'teacher/base_teacher.html' %}
{% block teacher_define %}
  <div class="teacher-define col-lg-12 col-md-12">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-4 col-md-4" style="border-right: 1px solid rgb(230, 230, 230);">
        <p class="text-center indemnity-title-sm">总账款额度</p>
        <p class="text-center indemnity-number-lg">{{ mentor.total_income }}</p>
      </div>
      <div class="col-lg-4 col-md-4" style="border-right: 1px solid rgb(230, 230, 230);">
        <p class="text-center indemnity-title-sm">可用额度</p>
        <p class="text-center indemnity-number-lg">{{ mentor.iden_income }}</p>
        <button class="btn btn-primary btn-cash" data-toggle="modal" data-target="#myModal">提现</button>
      </div>
      <div class="col-lg-4 col-md-4">
        <p class="text-center indemnity-title-sm">待确认付款</p>
        <p class="text-center indemnity-number-lg">{{ mentor.cash_income }}</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12" style="margin-top: 20px">
      <table class="table text-left table-indemnity text-center">
        <thead>
        <tr style="background-color: rgb(170, 185, 202);color: #ffffff;">
          <td>日期</td>
          <td>行为</td>
          <td>收入</td>
          <td>备注</td>
        </tr>
        </thead>
        <tbody>
        {% for recorde in money_records %}
          <tr>
            <td>{{ recorde.create_time | date:'Y.m.d' }}</td>
            <td>{{ recorde.action }}</td>
            <td>
              {% if recorde.income < 0 %}
                {{ recorde.income }}
              {% else %}
                +{{ recorde.income }}
              {% endif %}
            </td>
            <td>{{ recorde.info }}</td>
          </tr>
          </tbody>
        {% endfor %}
      </table>
    </div>
    {% if money_records.has_other_pages %}
      <nav class="col-md-12 col-lg-12 text-center">
        <ul class="pagination">
          {% if money_records.has_previous %}
            <li>
              <a href="/teacher/indemnity?page_num={{ money_records.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
              </a>
            </li>
          {% endif %}

          {% for page in money_records.paginator.page_range %}
            {% if page == money_records.number %}
              <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
              <li><a href="/teacher/indemnity?page_num={{ page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if money_records.has_next %}
            <li>
              <a href="/teacher/indemnity?page_num={{ money_records.next_page_number }}" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">提现</h4>
        </div>
        <div class="modal-body cash-form">
          <form action="/teacher/indemnity" method="post">
            {% csrf_token %}
            <input type="text" class="form-control" name="alipay_account" placeholder="支付宝账号" value=""/>
            <input type="text" class="form-control" name="real_name" placeholder="真实姓名"/>
            <input type="text" class="form-control" name="money" placeholder="提取现金，需小于可用额度{{ mentor.iden_income }}元"/>
{#                   onkeyup="this.value=this.value.replace(/\D/g,'')"#}
{#                   onafterpaste="this.value=this.value.replace(/\D/g,'')"/>#}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" onclick="submitOutCash({{ mentor.iden_income }})">确定</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block mentor_script %}
  <script src="/js/teacher/indemnity.js"></script>
{% endblock %}