{% extends "base_template.html" %}
{% block menu %}
    <li style="padding-top: 1%;height: 53px;">
        <p style="font-size: 20px;padding-left: 10px">

        </p>
    </li>
    <li style="margin-top:2%;padding-left: 10px">
        <p>
            <span id="n_area"></span>
        </p>
    </li>
{#    <li style="margin-top: 20%">#}
{#        <a href="/admin/index">#}
{#            <span class="glyphicon glyphicon-home" style="margin-right: 3%"></span>#}
{#            主页管理#}
{#            <span id="notice_is" class="glyphicon glyphicon-exclamation-sign hidden" style="margin-left: 5%"></span>#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/admin/website">#}
{#            <span class="glyphicon glyphicon-list-alt" style="margin-right: 3%"></span>#}
{#            网站管理<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/admin/message">#}
{#            <span class="glyphicon glyphicon-envelope" style="margin-right: 3%"></span>#}
{#            消息中心<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/admin/order">#}
{#            <span class="glyphicon glyphicon-edit" style="margin-right: 3%"></span>#}
{#            订单管理<span class="badge" id="order_num"></span><span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/admin/mentor">#}
{#            <span class="glyphicon glyphicon-king" style="margin-right: 3%"></span>#}
{#            教练管理#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/admin/patner">#}
{#            <span class="glyphicon glyphicon-king" style="margin-right: 3%"></span>#}
{#            陪练管理#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/admin/student">#}
{#            <span class="glyphicon glyphicon-knight" style="margin-right: 3%"></span>#}
{#            学员管理#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="/admin/audit">#}
{#            <span class="glyphicon glyphicon-blackboard" style="margin-right: 3%"></span>#}
{#            视频审核#}
{#        </a>#}
{#    </li>#}
    <li>
        <a href="/admin/wechat">
            <span class="glyphicon glyphicon-blackboard" style="margin-right: 3%"></span>
            微信管理
        </a>
    </li>
{#    <li>#}
{#        <a href="/admin/pay">#}
{#            <span class="glyphicon glyphicon-usd" style="margin-right: 3%"></span>#}
{#            支付管理<span class="badge" id="cash_num"></span>#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="http://new.cnzz.com/v1/login.php?siteid=1257721625">#}
{#            <span class="glyphicon glyphicon-search" style="margin-right: 3%"></span>#}
{#            站长工具#}
{#        </a>#}
{#    </li>#}
    <li>
        <a href="/admin/portal">
            <span class="glyphicon glyphicon-user" style="margin-right: 3%"></span>
            个人设置
        </a>
    </li>
{#    <li>#}
{#        <a href="/admin/complain">#}
{#            <span class="glyphicon glyphicon-warning-sign" style="margin-right: 3%"></span>#}
{#            投诉处理<span class="badge" id="report_num"></span>#}
{#        </a>#}
{#    </li>#}
    <li>
        <a href="/admin/logout/">
            <span class="glyphicon glyphicon-off" style="margin-right: 3%"></span>
            退出登录
        </a>
    </li>
{% endblock %}
{% block script %}
{{ block.super }}
<script src="/js/admin/get_order.js"></script>
{% endblock %}
