<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/flat-ui.min.css" rel="stylesheet">
    <link href="/css/LFYAdmin/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <title></title>
</head>
<body style="background-color: #eee; font-family:microsoft YaHei;">
{% ifequal fail True %}
<div class="alert alert-danger text-center" role="alert" style="text-align: center;height: 50px;margin-top: 0;">
    <strong>用户名或密码错误</strong>
</div>
{% endifequal %}
<div class="container">
    <div class="login">

        <div class="login-screen"
             style="background-color: #1abc9c; border-radius: 10px; box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.15);">

            <div class="">
                <div class="login-icon">
                    <img src="/img/book.png" alt="Welcome to Mail App">
                    <h4>Welcome to
                        <small>Dai Ni Fei</small>
                    </h4>
                </div>

                <div class="login-form">
                    <form action="/admin/login/" method="post" id="login_form">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width: 80px">账号</span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="账号"
                                   onkeyup="this.value=this.value.replace(/\D/g,'')">
                        </div>
                        <div class="input-group" style="margin-top: 20px; margin-bottom: 20px">
                            <span class="input-group-addon" style="min-width: 80px">密码</span>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="请输入密码">
                        </div>
                        <button class="btn btn-primary btn-large btn-block" id="login_button">登录</button>
                    </form>
                    <a class="login-link" href="#"></a>
                </div>
            </div>
            <br/>
            <br/>

            <h1 class="text-center " style="color:#f5f5f5;;">带你飞后台管理</h1>
        </div>

    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/flat-ui.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="//vjs.zencdn.net/4.7/video.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    $('#login_button').click(function () {
        if ($('#username').val() && $('#password').val()) {
            $('#login_form').submit();
        }
        else {
            alert('请输入账号/密码');
        }
    })
</script>
</body>
</html>