<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block style %}
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/flat-ui.min.css" rel="stylesheet">
            <link href="/css/LFYAdmin/main.css" rel="stylesheet">
            <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    {% endblock %}
    <title>{% block title %}{{ blogtitle }}{% endblock %}</title>
</head>
<body style="font-family:microsoft YaHei;">
{#<audio  controls="controls" id="music" src="/js/567.wav" loop="true" style="display:none;">#}
{#    Your browser does not support the audio element.#}
{#</audio>#}

<div class="row">
    <ul class="demo-sidebar nav nav-pills nav-stacked col-md-2 col-lg-1 text-center"
        style="border-right:2px solid rgba(255,255,255,0.14);">
        {% block menu %}
        {% endblock %}
    </ul>
<nav class="navbar navbar-inverse navbar-embossed" role="navigation"
     style="margin-bottom: 0;border-radius: 0">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">带你飞管理</a>
    </div>
    <div class="collapse navbar-collapse" style="margin-left: 50%">
        <p id="page_title" class="navbar-brand"
           style="padding-bottom: 0;margin-bottom: 0;color: #00BC9D;cursor: default;">
            {% block page %}{% endblock %}</p>
    </div>
</nav>
    <!-- /navbar -->
    <div class="col-md-10 col-lg-11" style="padding-top:1%;float: right;">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% block script %}
    <script src="/js/jquery.min.js"></script>
{#    <script src="/js/bootstrap.min.js"></script>#}
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
    <script src="//vjs.zencdn.net/4.7/video.js"></script>
    <script src="/js/bootstrap-table-zh-CN.min.js"></script>
{% endblock %}
</body>
</html>
