{% extends "admin_base.html" %}
{% block title %}投诉处理{% endblock %}
{% block page %}投诉处理{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th data-sortable="true">投诉时间</th>
                <th data-sortable="true">被投诉人</th>
                <th data-sortable="true">投诉人</th>
                <th data-sortable="true">投诉人QQ</th>
                <th data-sortable="true">投诉人电话</th>
                <th data-sortable="true">举报类型</th>
                <th data-sortable="true">举报内容</th>
                <th data-sortable="true">举报图片</th>
                <th data-sortable="true">是否处理</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for report in report_list %}
                <tr>
                    <td>{{ report.create_time }}</td>
                    <td>{{ report.reported }}</td>
                    <td>{{ report.reporter }}</td>
                    <td>{{ report.qq }}</td>
                    <td>{{ report.phone }}</td>
                    <td>{{ report.type }}</td>
                    <td>{{ report.content }}</td>
                    <td><a href="/admin/complain/image/{{ report.id }}/">点击产看</a></td>
                    <td>{{ report.finish }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/admin/complain/finish/{{ report.id }}/">处理</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
