{% extends "admin_base.html" %}
{% block title %}主页管理{% endblock %}
{% block page %}主页管理{% endblock %}
{% block content %}
    <div class="my_container">
        <div>
            <form action="/admin/index/change_recommend" method="post">
            {% csrf_token %}
                <h5>推荐导师编辑：</h5>

                <div class="row">

                    <div class="col-md-3 text-center">
                        <div><span>推荐导师1:</span></div>
                        <img src="{{ index_admin.rec_mentor1.avatar }}" width="100px" height="100px" alt=""/>
                        <h5>{{ index_admin.rec_mentor1.nick }}</h5>

                        <div><span>更改：</span>
                            <select id="rec_mentor_1" name="rec_mentor_1"
                                    class="form-control select select-primary select-block mbl">
                                {% for mentor in mentor_list %}
                                    {% ifequal index_admin.rec_mentor1.id mentor.id %}
                                        <option value="{{ mentor.id }}" selected>{{ mentor.nick }}</option>
                                    {% else %}
                                        <option value="{{ mentor.id }}">{{ mentor.nick }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div><span>推荐导师2:</span></div>

                        <img src="{{ index_admin.rec_mentor2.avatar }}" width="100px" height="100px" alt=""/>
                        <h5>{{ index_admin.rec_mentor2.nick }}</h5>

                        <div><span>更改：</span>
                            <select id="rec_mentor_2" name="rec_mentor_2"
                                    class="form-control select select-primary select-block mbl">
                                {% for mentor in mentor_list %}
                                    {% ifequal index_admin.rec_mentor2.id mentor.id %}
                                        <option value="{{ mentor.id }}" selected>{{ mentor.nick }}</option>
                                    {% else %}
                                        <option value="{{ mentor.id }}">{{ mentor.nick }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div><span>推荐导师3:</span></div>

                        <img src="{{ index_admin.rec_mentor3.avatar }}" width="100px" height="100px" alt=""/>
                        <h5>{{ index_admin.rec_mentor3.nick }}</h5>

                        <div><span>更改：</span>
                            <select id="rec_mentor_3" name="rec_mentor_3"
                                    class="form-control select select-primary select-block mbl">
                                {% for mentor in mentor_list %}
                                    {% ifequal index_admin.rec_mentor3.id mentor.id %}
                                        <option value="{{ mentor.id }}" selected>{{ mentor.nick }}</option>
                                    {% else %}
                                        <option value="{{ mentor.id }}">{{ mentor.nick }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div><span>推荐导师4:</span></div>

                        <img src="{{ index_admin.rec_mentor4.avatar }}" width="100px" height="100px" alt=""/>
                        <h5>{{ index_admin.rec_mentor4.nick }}</h5>

                        <div><span>更改：</span>
                            <select id="rec_mentor_4" name="rec_mentor_4"
                                    class="form-control select select-primary select-block mbl">
                                {% for mentor in mentor_list %}
                                    {% ifequal index_admin.rec_mentor4.id mentor.id %}
                                        <option value="{{ mentor.id }}" selected>{{ mentor.nick }}</option>
                                    {% else %}
                                        <option value="{{ mentor.id }}">{{ mentor.nick }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">保存</button>
                </div>
            </form>
        </div>
        <div class="my_divider"></div>
        <div class="">
            <form action="/admin/index/change_picture" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h5>轮播图片编辑：</h5>

                <div class="row">
                    <div class="col-md-4 text-center">
                        <div><span>轮播图片1:</span></div>
                        <img src="{{ index_admin.index_pic1 }}" width="500px" height="250px" alt=""/>

                        <div class="form-inline" style="margin-top: 10px; margin-left: 5%;">
                            <div class="col-md-3"><span style="font-size: 1.2em;">更改：</span></div>
                            <div class="col-md-9">
                                <input type="file" id="pic_choice_1" name="pic_choice_1" class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div><span>轮播图片2:</span></div>
                        <img src="{{ index_admin.index_pic2 }}" width="500px" height="250px" alt=""/>

                        <div class="form-inline" style="margin-top: 10px; margin-left: 5%;">
                            <div class="col-md-3"><span style="font-size: 1.2em;">更改：</span></div>
                            <div class="col-md-9">
                                <input type="file" id="pic_choice_2" name="pic_choice_2" class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div><span>轮播图片3:</span></div>
                        <img src="{{ index_admin.index_pic3 }}" width="500px" height="250px" alt=""/>

                        <div class="form-inline" style="margin-top: 10px; margin-left: 5%;">
                            <div class="col-md-3"><span style="font-size: 1.2em;">更改：</span></div>
                            <div class="col-md-9">
                                <input type="file" id="pic_choice_3" name="pic_choice_3" class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>

                </div>
                <br/>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
        <div class="my_divider"></div>
        <div>
            <h5>首页视频编辑：</h5>


            <div class="row">
                <div class="col-md-6">
                    <div>当前视频：</div>
                    <video class="video-js" preload="auto" poster="{{ index_admin.video_poster }}" data-setup="{}">
                        <source src="{{ index_admin.index_video }}" type="video/mp4">
                    </video>
                </div>
                <div class="col-md-6">
                    <div>更改视频：</div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="/admin/index/new_video" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="">上传新视频：</label>

                                    <div class="input-group">
                                        <input type="file" name="new_video" id="new_video" class="form-control btn btn-primary"
                                               onchange="fileSelected();"/>
                                    <span class="input-group-btn"><button class="btn btn-primary" onclick="uploadFile()" type="button">保存
                                    </button></span>
                                    </div>
                                </div>
                            </form>
                            <div id="fileSelect">
                                <div class="row" id="uploadInfomation">
                                    <div class="col-md-6">
                                        文件名：<span id="fileName"></span>
                                    </div>
                                    <div class="col-md-6">
                                        文件大小：<span id="fileSize"></span>
                                    </div>
                                </div>
                                <div class="row" id="uploadProcess">
                                    <div class="col-md-6">
                                        本地上传进度：<span id="progressNumber"></span>
                                    </div>
                                    <div class="col-md-6">
                                        七牛上传进度：<span id="fileStatus"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label for="">选择现有视频：</label>

                            <form action="/admin/index/change_video" method="post">
                            {% csrf_token %}
                                {% for video in video_list %}
                                    <label class="radio-inline">
                                        <input type="radio" name="video_radio" value="{{ video.name }}">
                                        <img src="{{ video.url }}" width="200px" height="100px" alt=""/>

                                        <div class="text-center">{{ video.name }}</div>
                                    </label>
                                {% endfor %}
                                <div class="form-group text-right">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script>
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
    </script>
    <script type="text/javascript">
        function fileSelected() {
            var file = document.getElementById('new_video').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
                document.getElementById('fileName').innerHTML =  file.name;
                document.getElementById('fileSize').innerHTML = fileSize;
            }
        }
        function uploadFile() {
            var fd = new FormData();
            fd.append("new_video", document.getElementById('new_video').files[0]);
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "/admin/index/new_video");
            xhr.send(fd);
            document.getElementById('fileStatus').innerHTML = '本地上传中...'
        }
        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
                if (percentComplete == 100) {
                    document.getElementById('fileStatus').innerHTML = '七牛云上传中...';
                }
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }
        function uploadComplete(evt) {
            /* 服务器端返回响应时候触发event事件*/
            alert('上传成功！');
            document.getElementById('fileStatus').innerHTML = '上传成功！';
            location.reload();
        }
        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }
        function uploadCanceled(evt) {
            alert("The upload has been canceled by the user or the browser dropped the connection.");
        }
    </script>
{% endblock %}