<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block style %}
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/flat-ui.min.css" rel="stylesheet">
        <link href="/css/LFYAdmin/main.css" rel="stylesheet">
    {% endblock %}
    <title>{% block title %}{{ webtitle }}{% endblock %}</title>
</head>
<body style="font-family:microsoft YaHei;">
{#<audio  controls="controls" id="music" src="/js/567.wav" loop="true" style="display:none;">#}
{#    Your browser does not support the audio element.#}
{#</audio>#}
<ul class="demo-sidebar nav nav-pills nav-stacked col-md-2 col-sm-2 col-lg-1 text-center"
    style="border-right:2px solid rgba(255,255,255,0.14);">
    <li style="padding-top: 1%;height: 53px;">
        <p style="font-size: 20px;padding-left: 10px">

        </p>
    </li>
    <li style="margin-top:2%;color: #16a085;padding-left: 10px">
        <p>
            <span id="n_area"></span>
        </p>
    </li>
    <li id="notice" style="margin-top: 20%">
        <a href="/admin/mentor">
            <span class="glyphicon glyphicon-bullhorn" style="margin-right: 3%"></span>
            返回
            <span id="notice_is" class="glyphicon glyphicon-exclamation-sign hidden" style="margin-left: 5%"></span>
        </a>
    </li>
    <li id="new">
        <a href="/admin/mentor/info">
            <span class="glyphicon glyphicon-earphone" style="margin-right: 3%"></span>
            导师资料<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>
        </a>
    </li>
    <li id="get">
        <a href="/admin/mentor/order">
            <span class="glyphicon glyphicon-folder-close" style="margin-right: 3%"></span>
            导师订单
        </a>
    </li>
    <li id="finish">
        <a href="/admin/mentor/detail">
            <span class="glyphicon glyphicon-ok" style="margin-right: 3%"></span>
            导师详情
        </a>
    </li>
</ul>
<nav class="navbar navbar-inverse navbar-embossed" role="navigation"
     style="margin-bottom: 0;border-radius: 0">
    <div class="navbar-header">
          <a href="#" class="navbar-brand">带你飞管理</a>
        </div>
    <div class="collapse navbar-collapse" style="margin-left: 50%">
        <p id="page_title" class="navbar-brand" style="padding-bottom: 0;margin-bottom: 0;color: #00BC9D;cursor: default;">
            {% block page %}{% endblock %}</p>
    </div>
</nav>
<!-- /navbar -->
<div class="col-md-10 col-lg-11 col-sm-10" style="padding-top:1%;float: right;">
    {% block content %}
    {% endblock %}
</div>
{% block script %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/flat-ui.min.js"></script>
{% endblock %}
</body>
</html>

