{% extends "mentor_base.html" %}
{% block title %}导师详情管理{% endblock %}
{% block page %}导师详情{% endblock %}
{% block style %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="my_contianer">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">介绍视频编辑</h3>
            </div>
            <div class="panel-body">
                <div>
                    <h5>导师视频编辑：</h5>


                    <div class="row">
                        <div class="col-md-6">
                            <div>当前视频：</div>
                            <video class="video-js" preload="auto" poster="{{ mentor.video_poster }}"
                                   data-setup="{}">
                                <source src="{{ mentor.intro_video }}" type="video/mp4">
                            </video>
                        </div>
                        <div class="col-md-6">
                            <div>更改视频：</div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form action="/admin/mentor/detail/{{ mentor.id }}/new_video" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">上传新视频：</label>

                                            <div class="input-group">
                                                <input type="file" name="new_video" class="form-control btn btn-primary"
                                                       placeholder="填入新视频url："/>
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit">保存
                                    </button></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label for="">选择现有视频：</label>

                                    <form action="/admin/mentor/detail/{{ mentor.id }}/change_video" method="post">
                                    {% csrf_token %}
                                        {% for video in video_list %}
                                            <label class="radio-inline">
                                                <input type="radio" name="video_radio" value="{{ video.name }}">
                                                <img src="{{ video.url }}" width="200px" height="100px" alt=""/>

                                                <div class="text-center">{{ video.name }}</div>
                                            </label>
                                        {% endfor %}
                                        <div class="form-group text-right">
                                            <button class="btn btn-primary" type="submit">提交</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">英雄池编辑</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" data-toggle="table">
                    <thead>
                    <tr>
                        <th>英雄名称</th>
                        <th>英雄图标</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hero in hero_list %}
                        <tr>
                            <td>{{ hero.hero_name }}</td>
                            <td><img src="{{ hero.hero_picture }}" width="50px" height="50px" alt=""/></td>
                            <td>
                                <a href="/admin/mentor/detail/{{ mentor.id }}/del_hero/{{ hero.id }}/"
                                   class="btn btn-default">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>

                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_hero_modal">添加
                    </button>
                    <div class="modal fade" id="new_hero_modal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">添加英雄</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/admin/mentor/detail/{{ mentor.id }}/add_hero/" method="post">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label for="price">选择英雄</label>
                                            <select id="rec_mentor_1" name="new_hero_select"
                                                    class="form-control select select-primary select-block mbl">
                                                {% for hero in hero_pool %}
                                                    <option value="{{ hero.id }}">{{ hero.hero_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">关闭
                                            </button>
                                            <button type="submit" class="btn btn-primary">确定</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">课程信息编辑</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" data-toggle="table">
                    <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>课程简介</th>
                        <th>价格</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in course_list %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td>{{ course.course_info }}</td>
                            <td>{{ course.price }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#cPriceModel{{ course.id }}">修改价格
                                </button>
                                <a href="/admin/mentor/detail/{{ mentor.id }}/del_course/{{ course.id }}/" class="btn btn-warning">删除</a>
                                <div class="modal fade" id="cPriceModel{{ course.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/admin/mentor/detail/{{ mentor.id }}/change_price/{{ course.id }}/" method="get">
                                                      {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="price">新价格</label>
                                                        <input type="number" class="form-control" name="new_price"
                                                               placeholder="价格">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">关闭
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">确定</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade " id="" tabindex="-1" role="dialog"
                                     aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div>
                                                {{ course.name }}
                                            </div>
                                            <form action="/" method="get">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="price">新价格</label>
                                                    <input type="text" class="form-control" name="new_price"
                                                           placeholder="价格">
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary">提交</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <a class="btn btn-defaults">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCourseModal" >添加</button>
                <div class="modal fade" id="newCourseModal" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">新课程</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/admin/mentor/detail/{{ mentor.id }}/new_course/" method="post">
                                                      {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="price">价格</label>
                                                        <input type="text" class="form-control" name="new_price"
                                                               placeholder="价格">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price">课程名称</label>
                                                        <input type="text" class="form-control" name="new_name"
                                                               placeholder="课程名称">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price">课程介绍</label>
                                                        <textarea name="new_intro" id="" cols="52" rows="5" placeholder="课程介绍"></textarea>
                                                    </div>
                                                    <div class="modal-xfooter">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">关闭
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">确定</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
            </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">详细介绍预览</h3>
            </div>
            <div class="panel-body">
                <div class="my_contianer">
                    <p id="mentor_detail_show">
                        {{ mentor.intro_detail | safe }}
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">详细介绍编辑</h3>
            </div>
            <div class="panel-body">
                <div>
                    <form action="/admin/mentor/detail/{{ mentor.id }}/update_detail/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script>
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
    </script>
{% endblock %}