{% extends "mentor_base.html" %}
{% block title %}导师详情管理{% endblock %}
{% block page %}导师信息{% endblock %}
{% block content %}
    <div class="my_contianer">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">基本信息</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left" style="margin-right: 20px;">
                            <img src="/img/block.jpg" width="200px" height="200px" alt=""/>
                            <h4 class="text-center">xxx</h4>
                        </div>
                        <div class="text-left" style="margin-top: 25px;">
                            <div>手机号：18215606355</div>
                            <div>QQ号：18215606355</div>
                            <div>固定电话：18215606355</div>
                            <div>注册时间：18215606355</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/img/block.jpg" width="500px" height="250px" alt=""/>
                        <h6 class="text-center">身份证认证信息</h6>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}