{% extends "admin_base.html" %}
{% block title %}导师管理{% endblock %}
{% block page %}导师管理{% endblock %}
{% block content %}
    <div class="my_contianer">
        <div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">增加导师</button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">新导师</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/mentor/new_mentor" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="">账号：</label>
                                    <input type="text" class="form-control" name="mentor_account" id="mentor_account"
                                           placeholder="11位手机号">
                                </div>
                                <div class="form-group">
                                    <label for="">昵称：</label>
                                    <input type="text" class="form-control" name="mentor_nick" id="mentor_nick"
                                           placeholder="昵称">
                                </div>
                                <div class="form-group">
                                    <label for="">密码：</label>
                                    <input type="text" class="form-control" name="mentor_passwd" id="mentor_passwd"
                                           placeholder="密码">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary">确定</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br/>
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th data-sortable="true">注册时间</th>
                <th data-sortable="true">账户</th>
                <th data-sortable="true">名称</th>
                <th data-sortable="true">交易量</th>
                <th data-sortable="true">总收入</th>
                <th data-sortable="true">用户评分</th>
                <th data-sortable="true">排名优先级</th>
                <th data-sortable="true">工作状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for mentor in mentor_list %}
                <tr>
                    <td>{{ mentor.create_time }}</td>
                    <td>{{ mentor.account }}</td>
                    <td>{{ mentor.nick }}</td>
                    <td>{{ mentor.total_orders }}</td>
                    <td>{{ mentor.total_income }}</td>
                    <td>{{ mentor.mark }}</td>
                    <td>{{ mentor.priority }}</td>
                    <td>{{ mentor.status }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/admin/mentor/info/{{ mentor.id }}/">详情</a>
                        <a class="btn btn-primary btn-sm" data-toggle="modal"
                           data-target="#priorityModal{{ mentor.id }}">更改优先级</a>

                        <div class="modal fade" id="priorityModal{{ mentor.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="priorityModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="noticeModalLabel">更改优先级</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/admin/mentor/info/{{ mentor.id }}/change_priority/"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="">优先级：</label>
                                                <input type="number" placeholder="数字" name="new_priority" value="{{ mentor.priority }}" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button type="submit" class="btn btn-primary">确定</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
