{% extends "base_template.html" %}
{% block menu %}
    <li style="padding-top: 1%;height: 53px;">
        <p style="font-size: 20px;padding-left: 10px">

        </p>
    </li>
    <li style="margin-top:2%;color: #16a085;padding-left: 10px">
        <p>
            <span id="n_area">
                <img src="{{ mentor.avatar }}" width="50px" height="50px" alt=""/>
                {{ mentor.account }}
                {{ mentor.nick }}
            </span>
        </p>
    </li>
    <li id="notice" style="margin-top: 20%">
        <a href="/admin/mentor">
            <span class="glyphicon glyphicon-menu-left" style="margin-right: 3%"></span>
            返回
            <span id="notice_is" class="glyphicon glyphicon-exclamation-sign hidden" style="margin-left: 5%"></span>
        </a>
    </li>
    <li id="new">
        <a href="/admin/mentor/info/{{ mentor.id }}/">
            <span class="glyphicon glyphicon-folder-open" style="margin-right: 3%"></span>
            教练资料<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>
        </a>
    </li>
    <li id="get">
        <a href="/admin/mentor/order/{{ mentor.id }}/">
            <span class="glyphicon glyphicon-list-alt" style="margin-right: 3%"></span>
            教练订单
        </a>
    </li>
    <li id="finish">
        <a href="/admin/mentor/detail/{{ mentor.id }}/">
            <span class="glyphicon glyphicon-info-sign" style="margin-right: 3%"></span>
            教练详情
        </a>
    </li>
{% endblock %}

