{% extends "mentor_base.html" %}
{% block title %}导师详情管理{% endblock %}
{% block page %}导师订单{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-bordered" data-toggle="table">
            <thead style="background-color: #1abc9c">
            <tr>
                <th>订单号</th>
                <th>下单账户</th>
                <th>学员</th>
                <th>课程名称</th>
                <th>课程金额</th>
                <th>下单时间</th>
                <th>订单状态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>20150101010101</td>
                <td><a href="/admin/student/info">18215606355</a></td>
                <td>rapo</td>
                <td>dota入门</td>
                <td>40.0</td>
                <td>2015-08-08 18:29:09</td>
                <td>待接受</td>
            </tr>
            <tr>
                <td>20150101010101</td>
                <td><a href="/admin/student/info">18215606355</a></td>
                <td>rapo</td>
                <td>dota入门</td>
                <td>40.0</td>
                <td>2015-08-08 18:29:09</td>
                <td>待接受</td>
            </tr>
            <tr>
                <td>20150101010101</td>
                <td><a href="/admin/student/info">18215606355</a></td>
                <td>rapo</td>
                <td>dota入门</td>
                <td>40.0</td>
                <td>2015-08-08 18:29:09</td>
                <td>待接受</td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}