{% extends "admin_base.html" %}
{% block title %}导师管理{% endblock %}
{% block page %}导师管理{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-bordered">
            <thead style="background-color: #1abc9c">
            <tr>
                <th>注册时间</th>
                <th>账户</th>
                <th>名称</th>
                <th>交易量</th>
                <th>总收入</th>
                <th>用户评分</th>
                <th>工作状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>2015-07-08 19:28:20</th>
                <td>18215606355</td>
                <td>rapo</td>
                <td>29</td>
                <td>400.0</td>
                <td>4.9</td>
                <td>休息中</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/admin/mentor/info">详情</a>
                </td>
            </tr>
            <tr>
                <th>2015-07-08 19:28:20</th>
                <td>18215606355</td>
                <td>rapo</td>
                <td>29</td>
                <td>400.0</td>
                <td>4.9</td>
                <td>休息中</td>
                <td>
                    <button class="btn btn-primary btn-sm" type="button">详情</button>
                </td>
            </tr>
            <tr>
                <th>2015-07-08 19:28:20</th>
                <td>18215606355</td>
                <td>rapo</td>
                <td>29</td>
                <td>400.0</td>
                <td>4.9</td>
                <td>休息中</td>
                <td>
                    <button class="btn btn-primary btn-sm" type="button">详情</button>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
{% endblock %}