{% extends "mentor_base.html" %}
{% block title %}导师详情管理{% endblock %}
{% block page %}导师信息{% endblock %}
{% block content %}
    <div class="my_contianer">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/img/block.jpg" width="200px" height="200px" alt=""/>
                <h4>xxx</h4>
            </div>
            <div class="mentor_info col-md-6 text-center">
                <div class="text-left">
                    <div>手机号：18215606355</div>
                    <div>QQ号：18215606355</div>
                    <div>固定电话：18215606355</div>
                    <div>注册时间：18215606355</div>
                </div>

            </div>
        </div>
        <div>
            <div>身份证认证信息：</div>
            <img src="/img/block.jpg" width="500px" height="250px" alt=""/>
        </div>
    </div>
{% endblock %}