{% extends "admin_base.html" %}
{% block title %}订单管理{% endblock %}
{% block page %}订单管理{% endblock %}
{% block content %}
    <div class="my_contianer">
        <form action="/admin/order/search" method="post">
            {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <span>订单状态：</span>
                <select id="order_status" name="order_status" class="form-control select select-primary select-block mbl">
                    <option value="0" selected>所有订单</option>
                    <option value="1">待确认</option>
                    <option value="2">已确认</option>
                    <option value="3">已完成</option>
                    <option value="4">已评价</option>
                    <option value="5">已撤销</option>
                    <option value="6">待付款</option>
                </select>
            </div>
            <div class="col-md-6">
                <input type="text" id="search_text" name="search_text" class="form-control" placeholder="搜索" value="{{ search_text }}"/>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn-primary btn" type="submit">查询</button>
            </div>
            <div class="col-md-1 text-right">
                <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                <button class="btn btn-primary" id="out_data" type="button">导出</button>
            </div>
        </div>
        </form>
        <div>今日成交单量：{{ day.count }} 今日成交额：{{ day.income }}元</div>
        <div>
            <table class="table table-bordered" data-toggle="table">
                <thead style="background-color: #1abc9c">
                <tr>
                    <th data-sortable="true">订单号</th>
                    <th data-sortable="true">学员</th>
                    <th data-sortable="true">教练</th>
                    <th data-sortable="true">课程名称</th>
                    <th data-sortable="true">金额</th>
                    <th data-sortable="true">下单时间</th>
                    <th data-sortable="true">订单状态</th>
                    <th>支付方式</th>
                </tr>
                </thead>
                <tbody>
                {% for order in order_list %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.belong.nick }}({{ order.belong.account }})</td>
                    <td>{{ order.teach_by.nick }}({{ order.teach_by.account }})</td>
                    <td>{{ order.course_name }}</td>
                    <td>{{ order.order_price }}</td>
                    <td>{{ order.create_time }}</td>
                    <td>{{ order.status }}</td>
                    <td>在线支付</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script>
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
    </script>
    <script>
          $('#out_data').click(function(){
              var order_status = $("#order_status").val();
              var search_text = $("#search_text").val();
              var csrf_token = $("#csrfmiddlewaretoken").val();
              var message = {'order_status': order_status,
                             'search_text': search_text,
                             'csrfmiddlewaretoken': csrf_token};
              $.ajax({
                  type: 'POST',
                  url: '/admin/order/output',
                  data: message,
                  success: function (data) {
                      if (data) {
                          window.location.href = data
                      }
                      else {
                          alert("导出失败！")
                      }
                  },
                  dataType: 'json'
              });
          })
      </script>
    <script src="//vjs.zencdn.net/4.7/video.js"></script>
{% endblock %}