{% extends "pay_base.html" %}
{% block title %}导师提现{% endblock %}
{% block page %}导师提现{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th>流水号</th>
                <th>提现金额</th>
                <th>申请时间</th>
                <th>提现支付宝</th>
                <th>提现姓名</th>
                <th>导师账号</th>
                <th data-sortable="true">是否冻结</th>
                <th data-sortable="true">是否处理</th>
                <th data-sortable="true">处理结果</th>
                <th data-sortable="true">转账状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for record in cash_record %}
                <tr>
                    <td>{{ record.record_id }}</td>
                    <td>{{ record.money }}</td>
                    <td>{{ record.create_time }}</td>
                    <td>{{ record.alipay_account }}</td>
                    <td>{{ record.real_name }}</td>
                    <td>{{ record.belong.account }}</td>
                    <td>{{ record.belong.freeze }}</td>
                    <td>{{ record.manage }}</td>
                    <td>{{ record.agree }}</td>
                    <td>{{ record.success }}</td>
                    <td>{% if record.manage == False and record.belong.freeze == False %}
                        <a href="/admin/pay/cash/confirm/{{ record.id }}/" target="_blank" class="btn btn-primary">同意</a>
                        <a href="/admin/pay/cash/rejected/{{ record.id }}/" class="btn-warning btn">驳回</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block style %}
    {{ block.super }}
    <script>
    </script>
{% endblock %}