{% extends "base_template.html" %}
{% block menu %}
    <li style="padding-top: 1%;height: 53px;">
        <p style="font-size: 20px;padding-left: 10px">

        </p>
    </li>
    <li style="margin-top:2%;color: #16a085;padding-left: 10px">
        <p>
            <span id="n_area"></span>
        </p>
    </li>
    <li id="notice" style="margin-top: 20%">
        <a href="/admin/index">
            <span class="glyphicon glyphicon-menu-left" style="margin-right: 3%"></span>
            返回
            <span id="notice_is" class="glyphicon glyphicon-exclamation-sign hidden" style="margin-left: 5%"></span>
        </a>
    </li>
    <li id="">
        <a href="/admin/pay">
            <span class="glyphicon glyphicon-usd" style="margin-right: 3%"></span>
            账款中心<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>
        </a>
    </li>
    <li id="new">
        <a href="/admin/pay/stu_rec">
            <span class="glyphicon glyphicon-tasks" style="margin-right: 3%"></span>
            学员消费记录<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>
        </a>
    </li>
    <li id="get">
        <a href="/admin/pay/mentor_rec">
            <span class="glyphicon glyphicon-sort" style="margin-right: 3%"></span>
            教练收支纪录
        </a>
    </li>
    <li id="finish">
        <a href="/admin/pay/cash">
            <span class="glyphicon glyphicon-bell" style="margin-right: 3%"></span>
            教练提现请求
        </a>
    </li>
{% endblock %}

