{% extends "pay_base.html" %}
{% block title %}账款中心{% endblock %}
{% block page %}账款中心{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th>导师账号</th>
                <th>导师昵称</th>
                <th>注册时间</th>
                <th>可提款额度</th>
                <th>总账款额度</th>
                <th>待确认付款</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for mentor in mentor_list %}
            <tr>
                <td>{{ mentor.account }}</td>
                <td>{{ mentor.nick }}</td>
                <td>{{ mentor.create_time }}</td>
                <td>{{ mentor.cash_income }}</td>
                <td>{{ mentor.total_income }}</td>
                <td>{{ mentor.iden_income }}</td>
                <td>{% ifequal mentor.freeze True %}
                    冻结
                    {% else %}
                    正常
                    {% endifequal %}
                </td>
                <td>{% ifequal mentor.freeze True %}
                    <a href="/admin/pay/thaw/{{ mentor.id }}/" class="btn btn-primary">解冻</a>
                    {% else %}
                    <a href="/admin/pay/freeze/{{ mentor.id }}/" class="btn btn-warning">冻结</a>
                    {% endifequal %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}