{% extends "pay_base.html" %}
{% block title %}导师收支纪录{% endblock %}
{% block page %}收支纪录{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th>工单号</th>
                <th>行为</th>
                <th>收入</th>
                <th>导师账号</th>
                <th>导师昵称</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            {% for record in record_list %}
                <tr>
                    <td>{{ record.record_id }}</td>
                    <td>{{ record.action }}</td>
                    <td>{{ record.income }}</td>
                    <td>{{ record.belong.account }}</td>
                    <td>{{ record.belong.nick }}</td>
                    <td>{{ record.info }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}