{% extends "pay_base.html" %}
{% block title %}账款中心{% endblock %}
{% block page %}账款中心{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-bordered">
            <thead style="background-color: #1abc9c">
            <tr>
                <th>导师账号</th>
                <th>导师昵称</th>
                <th>注册时间</th>
                <th>可提款额度</th>
                <th>总账款额度</th>
                <th>待确认付款</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>18215606355</th>
                <td>大魔王</td>
                <td>2015-08-08 19:28:09.0</td>
                <td>1400</td>
                <td>160000</td>
                <td>200</td>
                <td>正常</td>
                <td><a href="/" class="btn btn-warning">冻结</a><a href="/" class="btn btn-primary">解冻</a></td>
            </tr>
            <tr>
                <th>18215606355</th>
                <td>大魔王</td>
                <td>2015-08-08 19:28:09.0</td>
                <td>1400</td>
                <td>160000</td>
                <td>200</td>
                <td>正常</td>
                <td><a href="/" class="btn btn-warning">冻结</a><a href="/" class="btn btn-primary">解冻</a></td>
            </tr>
            <tr>
                <th>18215606355</th>
                <td>大魔王</td>
                <td>2015-08-08 19:28:09.0</td>
                <td>1400</td>
                <td>160000</td>
                <td>200</td>
                <td>正常</td>
                <td><a href="/" class="btn btn-warning">冻结</a><a href="/" class="btn btn-primary">解冻</a></td>
            </tr>


            </tbody>
        </table>
    </div>
{% endblock %}