{% extends "pay_base.html" %}
{% block title %}导师提现{% endblock %}
{% block page %}导师提现{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th>流水号</th>
                <th>提现金额</th>
                <th>申请时间</th>
                <th>提现卡号</th>
                <th>导师账号</th>
                <th>是否冻结</th>
                <th>是否处理</th>
                <th>处理结果</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for record in cash_record %}
                <tr>
                    <td>{{ record.record_id }}</td>
                    <td>{{ record.money }}</td>
                    <td>{{ record.create_time }}</td>
                    <td>{{ record.bank_id }}</td>
                    <td>{{ record.belong.account }}</td>
                    <td>{{ record.belong.freeze }}</td>
                    <td>{{ record.manage }}</td>
                    <td>{{ record.agree }}</td>
                    <td>{% ifequal record.manage False %}
                        <a href="/admin/pay/cash/confirm/{{ record.id }}/" class="btn btn-primary">同意</a>
                        <a href="/admin/pay/cash/rejected/{{ record.id }}/" class="btn-warning btn">驳回</a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}