{% extends "pay_base.html" %}
{% block title %}学员充值纪录{% endblock %}
{% block page %}充值纪录{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-bordered">
            <thead style="background-color: #1abc9c">
            <tr>
                <th>订单号</th>
                <th>充值金额</th>
                <th>下单时间</th>
                <th>充值账号</th>
                <th>学员名称</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>20150101010101</th>
                <td>50.0</td>
                <td>2015－08-08 19:09:00</td>
                <td>18215606355</td>
                <td>大魔王</td>
                <td>2333</td>
            </tr>
            <tr>
                <th>20150101010101</th>
                <td>50.0</td>
                <td>2015－08-08 19:09:00</td>
                <td>18215606355</td>
                <td>大魔王</td>
                <td>2333</td>
            </tr>
            <tr>
                <th>20150101010101</th>
                <td>50.0</td>
                <td>2015－08-08 19:09:00</td>
                <td>18215606355</td>
                <td>大魔王</td>
                <td>2333</td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}