{% extends "pay_base.html" %}
{% block title %}导师收支纪录{% endblock %}
{% block page %}收支纪录{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-bordered">
            <thead style="background-color: #1abc9c">
            <tr>
                <th>工单号</th>
                <th>行为</th>
                <th>收入</th>
                <th>导师</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>20150101010101</th>
                <td>收入</td>
                <td>50.0</td>
                <td>18215606355</td>
                <td>来自订单23333</td>
            </tr>
            <tr>
                <th>20150101010101</th>
                <td>收入</td>
                <td>50.0</td>
                <td>18215606355</td>
                <td>来自订单23333</td>
            </tr>
            <tr>
                <th>20150101010101</th>
                <td>收入</td>
                <td>50.0</td>
                <td>18215606355</td>
                <td>来自订单23333</td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}