{% extends "pay_base.html" %}
{% block title %}导师提现{% endblock %}
{% block page %}导师提现{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>流水号</th>
                <th>提现金额</th>
                <th>申请时间</th>
                <th>提现卡号</th>
                <th>导师账号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>20150101010101</th>
                <td>50.0</td>
                <td>2015－08-08 19:09:00</td>
                <td>18215606355</td>
                <td>大魔王</td>
                <td><a href="/" class="btn btn-primary">确定</a><a href="/" class="btn-warning btn">驳回</a></td>
            </tr>
            <tr>
                <th>20150101010101</th>
                <td>50.0</td>
                <td>2015－08-08 19:09:00</td>
                <td>18215606355</td>
                <td>大魔王</td>
                <td><a href="/" class="btn btn-primary">确定</a><a href="/" class="btn-warning btn">驳回</a></td>
            </tr>
            <tr>
                <th>20150101010101</th>
                <td>50.0</td>
                <td>2015－08-08 19:09:00</td>
                <td>18215606355</td>
                <td>大魔王</td>
                <td><a href="/" class="btn btn-primary">确定</a><a href="/" class="btn-warning btn">驳回</a></td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}