{% extends "pay_base.html" %}
{% block title %}学员充值纪录{% endblock %}
{% block page %}充值纪录{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th>流水号</th>
                <th>充值金额</th>
                <th>下单时间</th>
                <th>充值账号</th>
                <th>学员名称</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            {% for recrod in charge_list %}
            <tr>
                <td>{{ recrod.record_id }}</td>
                <td>{{ recrod.charge_number }}</td>
                <td>{{ recrod.create_time }}</td>
                <td>{{ recrod.belong.account }}</td>
                <td>{{ recrod.belong.nick }}</td>
                <td>{{ recrod.note }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}