{% extends "base_template.html" %}
{% block menu %}
    <li style="padding-top: 1%;height: 53px;">
        <p style="font-size: 20px;padding-left: 10px">
        </p>
    </li>
    <li style="margin-top:2%;color: #16a085;padding-left: 10px">
        <p>
            <span id="n_area"></span>
        </p>
    </li>
    <li id="notice" style="margin-top: 20%">
        <a href="/admin/student">
            <span class="glyphicon glyphicon-bullhorn" style="margin-right: 3%"></span>
            返回
            <span id="notice_is" class="glyphicon glyphicon-exclamation-sign hidden" style="margin-left: 5%"></span>
        </a>
    </li>
    <li id="new">
        <a href="/admin/student/info">
            <span class="glyphicon glyphicon-earphone" style="margin-right: 3%"></span>
            学员资料<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>
        </a>
    </li>
    <li id="get">
        <a href="/admin/student/order">
            <span class="glyphicon glyphicon-folder-close" style="margin-right: 3%"></span>
            消费记录
        </a>
    </li>
{% endblock %}
