<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block style %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/flat-ui.min.css" rel="stylesheet">
    <link href="/css/LFYAdmin/main.css" rel="stylesheet">
    {% endblock %}
    <title>{% block title %}{{ webtitle }}{% endblock %}</title>
</head>
<body style="font-family:microsoft YaHei;">
{#<audio  controls="controls" id="music" src="/js/567.wav" loop="true" style="display:none;">#}
{#    Your browser does not support the audio element.#}
{#</audio>#}
<ul class="demo-sidebar nav nav-pills nav-stacked col-md-2 col-sm-2 col-lg-1 text-center"
    style="border-right:2px solid rgba(255,255,255,0.14);">
    <li style="padding-top: 1%;background-color: #2980b9;height: 53px;color: #ffffff;">
        <p style="font-size: 20px;padding-left: 10px">
            带你飞管理系统
        </p>
    </li>
    <li style="margin-top:2%;color: #16a085;padding-left: 10px">
        <p>
            <span id="n_area"></span>
        </p>
    </li>
    <li id="notice" style="margin-top: 20%">
        <a href="/admin/student">
            <span class="glyphicon glyphicon-bullhorn" style="margin-right: 3%"></span>
            返回
            <span id="notice_is" class="glyphicon glyphicon-exclamation-sign hidden" style="margin-left: 5%"></span>
        </a>
    </li>
    <li id="new">
        <a href="/admin/student/info">
            <span class="glyphicon glyphicon-earphone" style="margin-right: 3%"></span>
            学员资料<span class="badge" id="appoint_new_count" style="margin-left: 2px;"></span>
        </a>
    </li>
    <li id="get">
        <a href="/admin/student/order">
            <span class="glyphicon glyphicon-folder-close" style="margin-right: 3%"></span>
            消费记录
        </a>
    </li>
</ul>
<nav class="navbar navbar-default" role="navigation"
     style="margin-bottom: 0;background-color: #3498db;border-radius: 0">
    <div class="navbar-header" style="margin-left: 50%">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <p id="page_title" class="navbar-brand" style="padding-bottom: 0;margin-bottom: 0;color: #ffffff">{% block page %}{% endblock %}</p>
    </div>
</nav>
<!-- /navbar -->
<div class="col-md-10 col-lg-11 col-sm-10" style="padding-top:1%;float: right;">
    {% block content %}
    {% endblock %}
</div>
{% block script %}
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/flat-ui.min.js"></script>
{% endblock %}
</body>
</html>
