{% extends "student_base.html" %}
{% block title %}学员信息{% endblock %}
{% block page %}学员信息{% endblock %}
{% block content %}
    <div class="my_contianer">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">基本资料</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <div class="pull-left" style="margin-right: 10px;">
                            <img src="/img/block.jpg" width="150px" height="150px" alt=""/>
                            <div class="text-center">xxx<span class="label label-success" style="font-size: 5px;;">4级</span>
                            </div>
                        </div>
                        <div>
                            <span>注册账号：18215606355</span>
                            <br/>
                            <span>注册时间：18215606355</span>
                            <br/>
                            <span>总消费额：18215606355</span>
                            <br/>
                            <span>预存款：18215606355</span>
                            <br/>
                            <span>预存款：18215606355</span>
                            <br/>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div><span>联系方式：</span></div>
                        <div>
                            <span>手机号：18215606355</span>
                            <br/>
                            <span>QQ号：18215606355</span>
                            <br/>
                            <span>YY号：18215606355</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}