{% extends "admin_base.html" %}
{% block title %}网站管理{% endblock %}
{% block page %}网站管理{% endblock %}
{% block style %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="my_contianer">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">英雄管理</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>英雄名称</th>
                        <th>英雄图标</th>
                        <th>英雄背景</th>
                        <th>英雄类型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hero in hero_list %}
                        <tr>
                            <td>{{ hero.hero_name }}</td>
                            <td><img src="{{ hero.hero_picture }}" width="50px" height="50px" alt=""/></td>
                            <td><img src="{{ hero.hero_background }}" width="100px" height="50px" alt=""/></td>
                            <td>{{ hero.hero_type }}</td>
                            <td><a href="/admin/website/del_hero?hid={{ hero.id }}" class="btn btn-warning">删除</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#myModal">添加
                    </button>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">添加新英雄</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/admin/website/new_hero" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">英雄名称：</label>
                                            <input type="text" class="form-control" name="hero_name" id="hero_name"
                                                   placeholder="英雄名称">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputFile">英雄图标(50X50)</label>
                                            <input type="file" id="picture" name="picture" class="btn btn-primary">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputFile">英雄背景</label>
                                            <input type="file" id="background" name="background"
                                                   class="btn btn-primary">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputFile">英雄类型：</label>

                                            <div class="checkbox-inline hero_type_selcet">
                                                <label class="hero_type_selcet">
                                                    <input type="checkbox" name="hero_type" value="1">中单
                                                </label>
                                            </div>
                                            <div class="checkbox-inline hero_type_selcet">
                                                <label class="hero_type_selcet">
                                                    <input type="checkbox" name="hero_type" value="2">上单
                                                </label>
                                            </div>
                                            <div class="checkbox-inline hero_type_selcet">
                                                <label class="hero_type_selcet">
                                                    <input type="checkbox" name="hero_type" value="3">ADC
                                                </label>
                                            </div>
                                            <div class="checkbox-inline hero_type_selcet">
                                                <label class="hero_type_selcet">
                                                    <input type="checkbox" name="hero_type" value="4">打野
                                                </label>
                                            </div>
                                            <div class="checkbox-inline hero_type_selcet">
                                                <label class="hero_type_selcet">
                                                    <input type="checkbox" name="hero_type" value="5">辅助
                                                </label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <button type="submit" class="btn btn-primary">确定</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">公告管理</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered" data-toggle="table">
                    <thead>
                    <th>标题</th>
                    <th>发布时间</th>
                    <th>内容</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    {% for notice in notice_list %}
                        <tr>
                            <td>{{ notice.title }}</td>
                            <td>{{ notice.create_time }}</td>
                            <td><a href="/admin/website/notice/{{ notice.id }}/">点击查看详细</a></td>
                            <td>
                                <a href="/admin/website/modify_notice/{{ notice.id }}/" class="btn btn-primary">修改</a>
                                <a href="/admin/website/del_notice/{{ notice.id }}/" class="btn btn-warning">删除</a>
                            </td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>

                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#noticeModal">新公告
                    </button>
                    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog"
                         aria-labelledby="noticeModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="noticeModalLabel">新公告</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/admin/website/new_notice" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">公告标题：</label>
                                            <input type="text" class="form-control" name="notice_name" id="notice_title"
                                                   placeholder="标题">
                                        </div>
                                        <div class="form-group">
                                            {{ form }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <button type="submit" class="btn btn-primary">确定</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}