{% extends "admin_base.html" %}
{% block title %}微信管理{% endblock %}
{% block page %}微信管理{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th data-sortable="true">用户名</th>
                <th data-sortable="true">关注时间</th>
                <th data-sortable="true">open_id</th>
                <th data-sortable="true">所属渠道</th>
                <th data-sortable="true">是否取关</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in promotion_list %}
                <tr>
                    <td>{{ promotion.nick }}</td>
                    <td>{{ promotion.create_time | date:"F j, Y" }}</td>
                    <td>{{ promotion.open_id }}</td>
                    <td>{{ promotion.channel.name }}</td>
                    <td>{{ promotion.cancel }}...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
