{% extends "admin_base.html" %}
{% block title %}微信管理{% endblock %}
{% block page %}微信客服管理{% endblock %}
{% block content %}
    <div class="my_contianer">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th data-sortable="true">用户名</th>
                <th data-sortable="true">交互时间</th>
                <th data-sortable="true">交互内容</th>
                <th data-sortable="true">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
                <tr>
                    <td>{{ message.nick }}</td>
                    <td>{{ message.create_time | date:"Y-m-d H:i:s"}}</td>
                    <td>{{ message.content | slice:"10"}}</td>
                    <td>
                        <form action="/admin/wechat/kefu/distribution" method="get">
                            <input type="hidden" name="text" value="{{ message.content }}"/>
                            <input type="hidden" name="openid" value="{{ message.open_id }}"/>
                            <select name="account" id="">
                                {% for kefu in kefu_list %}
                                <option value="{{ kefu.kf_account }}">{{ kefu.kf_nick }}</option>
                                    {% endfor %}
                            </select>
                        <button class="btn btn-primary" type="submit">提交</button>
                        </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
