p{
    font-size: 16px;
    color: #7f8c8d;
}
body{
    background-color: #ffffff;
    position: relative;
}
.host-title{
    font-size: 20px;
    margin-top: 40px;
}
.lg-title{
    font-size: 18px;
}
.sm-title{
    font-size: 14px;
}

.footer{
    background-color: rgb(34, 38, 41);
}

.footer-line{
    background-color: rgb(43, 43, 43);
    height: 1px;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-two{
    height: 40px;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10px;
}
.footer-two>div>a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.footer-two>div>a:hover{
    font-size: 14px;
    color: #a6e1ec;
    text-decoration: none;
}

.navbar-nav>li>.dropdown-menu{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 10px #dddddd;
    min-width: 130px;
}

.dropdown-menu li{
    text-align: center;
}

.user-mes-title{
    position: relative;
    text-align: center;
}

.user-mes-title span{
    vertical-align: middle;
    background: #FFFFFF;
    padding: 0 5%;
    margin-top: 5px;
}

.user-mes-title span:before{
    position: absolute;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    content: "";
    width: 80%;
    height: 2px;
    display: block;
    background: #DDDDDD;
    z-index: -1;
}

/*导师页面*/
.hero-header{
    height: 25px;
    width: 25px;
}

.list-group-item{
    background-color: #222222;
    border: 0;
}
.list-group-item->a{
    color: #ffffff;
    font-size: 14px;
}
.panel-black{
    background-color: #000000;
    border: #222222;
    border-radius: 0;
}

.table-host>tbody>tr{
    position: relative;
}

.table-host>tbody>tr>td{
    border-top: 0;
    line-height: 2;
}

.table-host>tbody>tr>td>a:link,
.table-host>tbody>tr>td>a:visited,
.table-host>tbody>tr>td>a:active{
    text-decoration:none;
}

.table-host>tbody>tr>td>a{
    text-decoration:none;
    color: #16a085;
    font-size: 16px;
    display: inline-block;
    margin-left: 35px;
}

.table-host>tbody>tr>td>a:hover{
    text-decoration:none;
    color: #1abc9c;
}

.table-host-ver{
    background: #16a085;
    width: 1px;
    height: 52px;
    display: inline-block;
    position: absolute;
    margin-top: -6px;
}

.table-host>tbody>tr>td:hover .table-host-ver{
    width: 6px;
}

.host-teacher-box{
    height: 160px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    padding: 0;
}

.recommend-teacher-header{
    width: 100px;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 100%;
    display: inline-block;
}

.recommend-teacher-base{
    width: 140px;
    display: inline-block;
    position: absolute;
    padding-left: 20px;
}

.recommend-teacher-base h6{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recommend-teacher-base p{
    font-size: 14px;
    line-height: 1.4;
}


/* teacher */

.teacher-define{
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 10px #ecf0f1;
    min-height: 330px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.teacher-host-nav{
    height: 250px;
    background: url(/img/3.jpg) center;
    background-size: cover;
    vertical-align:middle;
    padding: 0;
}
.teacher-host-head{
    background-color: rgba(0, 0, 0, 0.2);
    height: 250px;
    padding-top: 30px;
}
.teacher-head{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.list-teacher-user{
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 10px #ecf0f1;
}
.list-teacher-user>a{
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}
.list-group-item>p{
    border-bottom: 1px solid #ecf0f1;
    margin: 0 10px 0 10px;
    padding: 15px 0 15px 0;
    font-size: 14px;
}
.list-teacher-user>a:hover,
.list-group-item-active{
    background-color: #ffffff;
    border-left:4px solid #1abc9c;
    color: #1abc3c;
}

.teacher-host-input{
    border:1px solid #1abc9c;
    height: 45px;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-left: -7%;
}

.teacher-host-input:focus{
    border-color: #1abc9c;
    outline: 0;
    box-shadow: none;
}

.teacher-host-label{
    height: 45px;
    color: #1abc9c;
    font-size: 14px;
    margin-bottom: 25px;
    padding-top: 7px;
}

.checkbox-group{
    height: 45px;
    margin-bottom: 25px;
    margin-left: -9%;
}
.checkbox-group>div{
    margin-top: 7px;

}

/* checkbox*/
.checkbox-wrapper {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #1abc9c;
    border-radius: 15px;
    cursor: pointer;
}
.checkbox {
    display: none;
}

.checkbox-label{
    background-color: #1abc9c;
    height: 30px;
    width: 30px;
    padding: 9px;
    display: none;
    cursor: pointer;
}

.checkbox-div{
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    display: none;
    cursor: pointer;
}

.position-text{
    margin-top: -37px;
    margin-left: 40px;
    font-size: 16px;
    color: #1abc9c;
}

.btn-upload{
    background-color: #ffffff;
    color: #1abc9c;
    border:1px solid #1abc9c;
}

.btn-upload:hover{
    color: #ffffff;
    background-color: #1abc9c;
}

.indemnity-title-sm{
    font-size: 14px;
    color: rgb(179, 179, 179);
}

.indemnity-number-lg{
    font-size: 36px;
    color: rgb(234, 184, 0);
}

.table-indemnity>tbody>tr>td{
    border: none;
}

.table-indemnity{
    border-collapse: inherit;
}

/*order css*/

.panel-order{
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 10px #ecf0f1;
    padding: 15px 10px 15px 10px;
    margin-bottom: 15px;
}

.panel-order-item-head{
    height: 50px;
    padding-top: 10px;
    font-size: 16px;
}

.panel-order-start{
    height: 50px;
    padding-top: 15px;
    font-size: 16px;
    float: right;
}

.panel-order-detail{
    margin-top: 15px;
}

.panel-order-detail>p{
    font-size: 14px;
}

/*courses manage*/
.course-box{
    min-height: 100px;
    padding: 10px;
}

.course-box div{
    min-height: 80px;
    background-color: rgb(242, 242, 242);
    padding: 10px;
}

.course-title{
    font-size: 16px;
}

.course-content{
    font-size: 14px;
}

.course-value{
    font-size: 17px;
    color: #f1c40f;
    float: right;
    margin-top: -2px;
}

.course-box .course-add{
    border: 3px dashed rgb(242, 242, 242);
    background-color: #ffffff;
}

.course-add .glyphicon-plus{
    font-size: 36px;
}

.course-input{
    border: 1px solid #bdc3c7;
    width: 40%;
    border-radius: 2px;
    margin-top: 20px;
}

.course-text{
    border: 1px solid #bdc3c7;
    width: 60%;
    border-radius: 2px;
    margin-top: 20px;
    resize: none;
}




/*time-line*/

.ver-line{
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #fff repeat-y;
    overflow: hidden;
}


.time-line {
    width: 100%;
    margin: 0 auto;
    min-width: 800px;
    background: url(/img/2.jpg);
}
.time-line ul{
    overflow:hidden;
    padding: 0;
    list-style: none;
}
.time-line li{
    width: 50%;
    height: 200px;
}
.time-line .in{
    min-height: 300px;
    /*background-color: #ddd;*/
    margin-bottom: 40px;
    position: relative;
}

.time-line .in div {
    margin: 5%;
}
.time-line .in .panel{
    width: 70%;
    margin-left: 20%;
}
.time-line .a{
    float: left;
    margin-bottom: 100px;
}
.time-line .a1{
    float: right;
    color: #ffffff;
    margin-left: 5%;
}
.time-line .b{
    float: right;
    margin-top: 100px;
}

.time-line .dot{
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
}

.time-line .a .dot{
    right: 0;
    margin-right: -5px;
}

.time-line .a .time-date{
    right: 0;
    top: 25px;
    margin-right: -100px;
    color: #ffffff;
    position: absolute;
}

.time-line .b .dot{
    left: 0;
    margin-left: -5px;
}

.time-line .b .time-date{
    left: 0;
    top: 25px;
    margin-left: -100px;
    color: #ffffff;
    position: absolute;
}

.user-host-nav{
    height: 250px;
    background: url(/img/2.jpg) center;
    background-size: cover;
    vertical-align:middle;
    padding: 0;
}

.user-mes{
    min-height: 400px;
    background-color: #ffffff;
}

.complete-mes{
    padding: 3% 20% 3% 20%;
}

.complete-mes input{
    margin-bottom: 20px;
}

.my-order-host{
    min-height: 600px;
    background-color: #ffffff;
}

.my-order-table thead tr{
    background-color: #000;
    color: #ffffff
}

.my-order-table tr th{
    font-size: 16px;
    height: 50px;
    padding: 0;
}

.my-order-table tbody tr td{
    height: 60px;
    padding-top: 20px;
    vertical-align: middle;
}

.order-head{
    background-color: rgb(237, 237, 237);
}

.order-head td{
    font-size: 14px;
    color: #1abc9c;
}

.order-buy-date{
    color: #000;
}

.order-teacher-header{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.order-teacher-name{
    margin: 0 15px;
}

.order-operation{
    font-size: 16px;
}

.pagination li a{
    border: 1px solid #DDDDDD;
    color: #000000;
    border-radius: 6px;
    margin: 0 5px;
}

.pagination li:first-child>a,
.pagination li:first-child>span{
    border-left: 1px solid #DDDDDD;
}