.search-teacher-head{
    height: 250px;
    background: url('/img/2.jpg');
}

.search-teacher-body{
    background: #FFFFFF;
    min-height: 600px;
    padding: 5%;
}

.teacher-info-panel{
    height: 390px;
    border: 1px #DDDDDD solid;
    margin-bottom: 20px;
    width: 240px;
    border-radius: 6px;
}

.teacher-info-panel-head{
    height: 180px;
    background-size: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.teacher-info-panel-body{
    padding-left: 15px;
    padding-right: 15px;
}

.teacher-info-introduce,
.teacher-info-attribute{
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 2px;
}

.teacher-info-introduce{
    height: 42px;
    text-after-overflow: ellipsis;
    overflow: hidden;
}

.teacher-info-name{
    font-size: 16px;
    color: #000000;
}

.teacher-info-value{
    font-size: 18px;
    color: #1abc9c;
    float: right;
}

.teacher-info-ver{
    height: 1px;
    background-color: #DDDDDD;
}

.btn-select{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0;
    text-align: center;
}

.btn-select:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.btn-select span{
    margin-left: 20px;
}

.study-text{
    padding-right: 0;
}

.study-text p{
    margin-top: 27px;
    float: right;
    font-size: 16px;
    color: #ffffff;
}

.pagination li.disabled>a,
.pagination li.disabled>a:hover
{
    color: #DDDDDD;
    cursor: not-allowed;
    background-color: rgba(255,255,255,.3);
    border-right-color: #dfe2e5;
}

.pagination li.active>a:hover{
    color: #fff;
    background-color: #1abc9c;
    border-color: #dfe2e5;
}