{% extends 'common/base_template.html' %}
{% block common_define %}
  <p>
    欢迎来到Fibar，国内首家专业游戏教练平台。
  </p>
  <p>
    Fibar游戏教练平台由济南江山如画网络科技有限责任公司创立并运营，通过标准化的教学流程及专业的游戏教练，为无数英雄联盟与DotA2玩家提供超一流的在线教育服务，提高玩家游戏竞技水平，从而获得高品质的游戏体验。
  </p>
  <p>
    Fibar游戏教练平台的出现解决了中国游戏市场教学领域空白的问题，为广大希望提升自身的游戏水平但苦于无路可走的玩家提供了一条可行之路。
  </p>
  <p>
    Fibar游戏教练平台以为玩家创造价值为理念，整合并对接了玩家和教学者双方资源，通过线上线下联动形成良好的生态循环。
  </p>
  <p>
    我们坚信，电竞产业的发展不止于高度的关注度和参与度，专业化、科学化的教学流程也是整个系统中的重要一环。
  </p>
  <p>
    我们坚信，中国电竞的发展需要各方的关注和努力，我们愿意成为这条路上的先行者，为广大的玩家与教练群体创造福祉。
  </p>
  <p>
    我们坚信，梦想需要助力，我们愿成为无数玩家前行路上的筑梦者，让梦发生。
  </p>
{% endblock %}