{% extends 'common/base_template.html' %}
{% block common_define %}
  <p>
    Fibar游戏教练，由北京江山如画网络科技有限责任公司创立并运营。致力于向千万电竞游戏玩家提供最专业的游戏教学服务。
  </p>
  <p>
    Fibar以为玩家创造价值为核心理念。通过完善的体系及专业的游戏教练，为无数LOL、DOTA2玩家提供超一流的在线游戏教学服务，提升玩家游戏竞技水平，从而帮助玩家获得高品质的游戏体验。
  </p>
  <p>
    作为国内首个专业化游戏教练服务平台，Fibar的出现，填补了中国游戏教学领域的空白，为广大希望提升自身游戏水平但难以得到专业指导的玩家提供了一条可行之路。
  </p>
  <p>
    我们坚信，随着电竞产业惊人的增长速度和关注度，专业化的游戏教学会是电竞产业中的重要一环。
  </p>
  <p>
    我们坚信，中国电竞的发展需要各方的关注和努力，我们愿意成为这条路上的先行者，为广大的玩家与教练群体创造福祉。
  </p>
  <p>
    我们坚信，热爱与梦永远最具价值，我们可以成为无数玩家前行路上的助力者，热爱与梦所向披靡。
  </p>
  <p>
    飞吧，好好玩游戏！
  </p>
{% endblock %}