{% extends 'base.html' %}
{% block define %}
    <div class="container">
        <h4 class="text-center">确认订单</h4>

        <div class="jumbotron">
            <h5 class="text-center">{{ course.name }}</h5>

            <p>课程名称：{{ course.course_info }}</p>

            <p>价格：￥{{ course.price }}</p>

            <p>导师：{{ course.belong.nick }}</p>

            <form action="/user/create_order/" target="_blank" method="post">
                {% csrf_token %}
                <div class="form-inline">
                    <label for=""><p>学习大区：{% if course.belong.teach_area == '0' %}
                        全区
                    {% elif course.belong.teach_area == '1' %}
                        电信
                    {% else %}
                        联通
                    {% endif %}</p></label>
                </div>
                <input type="hidden" name="course_id" value="{{ course.id }}"/>
                <p class="text-right">
                    <button class="btn btn-primary btn-lg" onclick="toPay()" target="_Blank" type="submit">立即支付</button>
                </p>
            </form>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">支付操作</h4>
                </div>
                <div class="modal-body">
                    <p>正在支付。。。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">支付完成</button>
                    <a href="https://cshall.alipay.com/hall/index.htm" type="button" class="btn btn-default">支付遇到问题</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
        function toPay() {
            $('#payModal').modal({backdrop: 'static', keyboard: false});
        }
    </script>
{% endblock %}