{% extends 'base.html' %}
{% block meta %}
    <meta property="qc:admins" content="17044500046612126367" />
    <meta name="description" content="飞吧游戏教练（fibar.cn）是国内首个专业游戏教练服务平台，为千万游戏玩家提供最专业的游戏教练教学服务。帮助玩家提升水平，享受更精彩的游戏体验, lol, 陪玩, 教练, 代练, 竞技游戏, 电子游戏, 陪练">
    <meta name="keywords" content="飞吧游戏教练, 飞吧, 教练, 游戏教练, 游戏陪玩, lol, 陪玩, 教练, 代练, 竞技游戏, 电子游戏, 陪练">
{% endblock %}
{% block define %}
  <div id="carousel-example-generic" class="carousel slide container" data-ride="carousel" style="width: 100%; padding-right: 0; padding-left: 0;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% if index_data.index_pic1 %}
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      {% endif %}
      {% if index_data.index_pic2 %}
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      {% endif %}
      {% if index_data.index_pic3 %}
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      {% endif %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% if index_data.index_pic1 %}
        <div class="item active">
          <a href="{{ seo_host }}/search_teacher">
            <img src="{{ index_data.index_pic1 }}" alt="Picture">
          </a>
        </div>
      {% endif %}
      {% if index_data.index_pic2 %}
        <div class="item">
          <a href="{{ seo_host }}/search_teacher">
            <img src="{{ index_data.index_pic2 }}" alt="Picture">
          </a>
        </div>
      {% endif %}
      {% if index_data.index_pic3 %}
        <div class="item">
          <a href="{{ seo_host }}/search_teacher">
            <img src="{{ index_data.index_pic3 }}" alt="Picture">
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="container">
    <div class="col-lg-6 col-md-6">
      <h6 class="host-title">
        关于飞吧
      </h6>
      <div>
        <video class="video-js" preload="auto" poster="{{ index_data.video_poster }}" data-setup="{}">
          <source src="{{ index_data.index_video }}" type="video/mp4">
          {#          <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">#}
        </video>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <h6 class="host-title">
        最新消息
        <a class="more-notices" href="{{ seo_host }}/notices_list">更多消息</a>
      </h6>
      <table class="table table-host">
        <tbody>
        {% for notice in notices %}
          <tr>
            <td>
              <div class="table-host-ver">&nbsp;</div>
              <a href="{{ seo_host }}/notice_detail?id={{ notice.id }}">
                {{ notice.title }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="container recommend-teacher-container">
    <h6 class="host-title col-lg-12 col-md-12">
      推荐教练
        <a class="more-notices" href="{{ seo_host }}/search_teacher">更多教练</a>
    </h6>
    {% for mentor in recommend %}
      {% if mentor %}
        <div class="col-lg-3 col-md-3 col-sm-5" style="margin-bottom: 10px">
          <div class="host-teacher-box" onclick="recommendTeacher('{{ mentor.id }}')">
            <div class="recommend-teacher-header" style="background: url('{{ mentor.avatar }}') center;border-radius: 5px; width: 45%; background-size: cover; "></div>
            <div class="recommend-teacher-base">
              <h6>
                {{ mentor.nick }}
              </h6>
              <p>擅长位置：
                {% if mentor.good_at == 1 %}
                  中单
                {% elif mentor.good_at == 2 %}
                  上单
                {% elif mentor.good_at == 3 %}
                  ADC
                {% elif mentor.good_at == 4 %}
                  打野
                {% elif mentor.good_at == 5 %}
                  辅助
                {% endif %}
              </p>
              <p>交易量：{{ mentor.get_orders_count }}</p>
              <p>用户评分：{{ mentor.mark }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
    <br/>
{% endblock %}
{% block script %}
  <script src="/js/common/host.js"></script>
  <script src="//vjs.zencdn.net/4.7/video.js"></script>
{% endblock %}