{% extends 'base.html' %}
{% block define %}
  <div id="carousel-example-generic" class="carousel slide container" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/img/index.jpg" alt="...">
        <div class="carousel-caption" style="padding-bottom: 25%">
          <button class="btn btn-default btn-lg">寻找导师</button>
        </div>
      </div>
      <div class="item">
        <img src="/img/index.jpg" alt="...">
        <div class="carousel-caption">

        </div>
      </div>
      <div class="item">
        <img src="/img/index.jpg" alt="...">
        <div class="carousel-caption">

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-6 col-md-6">
      <h6 class="host-title">
        平台介绍
      </h6>
      <div>
        <video class="video-js" preload="auto" poster="/img/poster.jpg" data-setup="{}">
          <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
          <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
        </video>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <h6 class="host-title">
        最新消息
      </h6>
      <table class="table table-host">
        <tbody>
        {% for test in test_array %}
          <tr>
            <td>
              <div class="table-host-ver">&nbsp;</div>
              <a href="#">
                {{ test }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="container recommend-teacher-container">
    <h6 class="host-title col-lg-12 col-md-12">
      推荐导师
      <a style="float: right;font-size: 14px" href="/search_teacher">(查看全部)</a>
    </h6>
    {% for item in test_list %}
      <div class="col-lg-3 col-md-3">
        <div class="host-teacher-box">
          <div class="recommend-teacher-header" style="background: url('/img/0.jpg') center"></div>
          <div class="recommend-teacher-base">
            <h6>测试推荐导师</h6>
            <p>擅长位置：中单</p>
            <p>交易量：111111</p>
            <p>用户评分：9.5</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block script %}
  <script src="/js/host.js"></script>
  <script src="//vjs.zencdn.net/4.7/video.js"></script>
{% endblock %}