{% extends 'common/base_template.html' %}
{% block title %}
法律声明|飞吧游戏教练
{% endblock %}
{% block common_define %}
  <p>
    济南江山如画网络科技有限责任公司（以下简称“Fibar”）按照下列条款与条件在本网站上提供信息和产品。访问本网站时，表示您同意这些条款与条件。若违反下列条款与条件，则Fibar保留权利，可以诉诸法律寻求补偿。Fibar保留一切未在此明示授予的权利。
  </p>
  <p>
    1.本网站包含之所有内容：文字报导、图片、声音、录像、图表、标志、标识、广告、商标、商号、域名、软件、程序、版面设计、专栏目录与名称、内容分类标准以及为注册用户提供的任何或所有信息等之所有权归属Fibar及本网站的内容/信息提供者，受中国及国际版权法的保护。对本网站上所有内容之复制（意指收集、组合和重新组合），本网站享有排他权并受中国及国际版权法的保护。本网站使用的所有软件的所有权归属于Fibar或它的软件供应商并受中国及国际版权法的保护，严格禁止对本网站该等内容的任何其他使用（包括但不限于再造、修改、发布、转发、再版、演示或播出）。
  </p>
  <p>
    2.本网站上的徽标、图形、声音或图像，未经允许不得私自复制或分发。
  </p>
  <p>
    3.本网站的内容/信息提供者若提供了与第三方网站的链接，这些网站不在Fibar的控制范围内。Fibar不能代表第三方网站，包含这样的链接并不暗示Fibar认可、建议或接受对此类网站的内容负有任何责任。当您访问非Fibar网站时，风险由您自行承担。Fibar对第三方网站上的任何数据、意见、建议与陈述的可靠性，不承担任何责任。
  </p>
  <p>
    4.Fibar和本网站尊重他人之知识产权。如果您确认您的作品在本网站以某种方式被抄袭，该行为触犯了中国及国际版权法，请向本网站做版权投诉。
  </p>
  <p>
    5.除本网站注明之服务条款外：Fibar对本网站上所有内容包括但不限于网站运营或本网站上的信息、内容、材料或产品，不提供明示或暗示的担保。由所适用法律许可，Fibar否认所有明示或暗示的担保，包括但不限于为特定目的做的商务暗示担保。Fibar对任何损失或任何由于使用本网站而引起的损失，包括但不限于直接的，间接的，偶然的、惩罚性的和引发的损失，不承担责任。
  </p>

{% endblock %}