{% extends 'base.html' %}
{% block css %}
  <link href="/css/custom/LR.css" rel="stylesheet"/>
{% endblock %}
{% block define %}
  <div class="container">
    <div class="jumbotron input-group-box">
      <div>
        <img src="/img/logo.png">
      </div>
      <p class="loginTitle text-center">登录</p>
      <form>
        {% csrf_token %}
        <div class="form-control input-with-icon">
          <span class="glyphicon glyphicon-phone"></span>
          <i class="input-ver">&nbsp;</i>
          <input type="text" class="login-input" id="username" name="username" placeholder="手机号"/>
        </div>
        <div class="form-control input-with-icon">
          <span class="glyphicon glyphicon-lock"></span>
          <i class="input-ver">&nbsp;</i>
          <input type="password" class="login-input" id="password" name="password" placeholder="用户密码"/>
        </div>
          <input type="hidden" value="{{ refer }}" id="refer" name="refer"/>
      </form>
      <a type="button" id="login_submit" class="btn btn-primary btn-lg btn-block btn-login">登&nbsp;&nbsp;录</a>
      <a class="input-herf" href="{{ seo_host }}/forget_password">忘记密码</a>
      <a class="input-herf" href="{{ seo_host }}/register">注册</a>
        <span class="input-herf" style="color: #16a085; float: left; font-size: 15px;">快捷登录：<a href="{{ seo_host }}/wechat_login" style="margin-right:10px;"><i class="fa fa-wechat" style="margin-right: 5px;"></i>微信</a><a
                href="{{ seo_host }}/qq_login"><i class="fa fa-qq"></i>QQ</a></span>
      <div class="col-sm-12" style="padding-right: 0">
        <a class="input-herf teacherLogin" href="{{ seo_host }}/teacher/login">教练登录</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/js/common/login.js"></script>
{% endblock %}