{% extends 'base.html' %}

{% block css %}
  <link href="/css/custom/notice_list.css" rel="stylesheet"/>
{% endblock %}

{% block define %}
  <div class="container text-center">
    <div class="notices-list">
        {% for notice in notices %}
          <h6>
            <a href="/notice_detail?id={{ notice.id }}" target="_blank">{{ notice.title }}</a>
            <span>{{ notice.create_time | date:"Y-m-d" }}</span>
          </h6>
        {% endfor %}
    </div>
    {% if notices.has_other_pages %}
      <nav class="col-md-12 col-lg-12 text-center">
        <ul class="pagination">
          {% if notices.has_previous %}
            <li>
              <a href="/notices_list?page={{ notices.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
              </a>
            </li>
          {% endif %}

          {% for page in notices.paginator.page_range %}
            {% if page == notices.number %}
              <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
              <li><a href="/notices_list?page={{ page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if notices.has_next %}
            <li>
              <a href="/notices_list?page_num={{ notices.next_page_number }}" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock %}
