{% extends 'common/base_template.html' %}
{% block title %}常见问题-飞吧游戏教练{% endblock %}
{% block common_define %}
    <p>
        问题1：如何更快地找到适合自己的教练？
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;①点击网站页眉“寻找教练”或网站上方图片进入教练列表页；
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;②根据自身的学习需要，通过页面上方筛选栏中的服务器、位置、英雄三个条件进行点击选择；
    </p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;③从经过筛选后的教练中挑选出最适合你的一位。</p>
    <p>
        问题2：如何进行退款？
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;①若在购买后需取消订单并且未进行学习，则可以联系客服QQ：765566978 与客服人员联系并进行退款申请。
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;②若对教学服务不满，则可以登陆个人中心，选择“投诉”根据相关情况进行投诉，并申请退款。
    </p>
    <p>
        问题3：若显示教练目前状态为排队如何与心仪教练进行预约？
    </p>
    <p>
        &nbsp; &nbsp;教练有可立即接单、需排队、不接单三种状态：
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;①可立即接单：该教练可立即进行在线教学；
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;②需排队：则需要进行排队，并且可以在教练信息页中查看教练的可教学时间；
    </p>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;③不接单：证明该教练目前无法进行教学
    </p>
    <p>
        问题4：遇到bug怎么办？
    </p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;若遇到网页bug，请通过服务QQ向我们反馈，我们十分感谢并期待与您一起将飞吧游戏教练做得更好！
    </p>
    <p>
        如有其它任何问题，可以联系客服QQ765566978进行解答。
    </p>
{% endblock %}