{% extends 'common/base_template.html' %}
{% block common_define %}
  <p>
    问题1：如何对游戏教练进行投诉？
  </p>
  <p>
    在游戏过程中，如果游戏教练对学员存在不尊重或未及时与用户进行联系等违反游戏教练行为准则的行为，可以在我的订单对游戏教练进行投诉，待工作人员查实后对导师的违规行为进行处理，并及时给予您答复。
  </p>
  <p>
    问题2：如何进行退款？
  </p>
  <p>
    若用户在购买课程三日内，可在我的订单内申请退款，工作人员将在两个工作日内进行打款（详情请见用户协议第七款）。
  </p>
  <p>
    问题3：若显示导师目前状态为排队如何与心仪导师进行预约？
  </p>
  <p>
    导师的状态有三种可立即接单、需排队、离开三种，若为可立即接单则证明该导师可立即进行在线教学，若为排队状态则证明需要进行排队待当前用户接单完成后进行教学，若为离开状态则证明该导师不可预约。
  </p>

  <p>
    * 如果您遇到的问题没有在上面列出，请联系我们
  </p>
{% endblock %}