{% extends 'base.html' %}
{% block css %}
<link href="/css/custom/LR.css" rel="stylesheet"/>
{% endblock %}
{% block define %}
  <div class="container">
    <div class="jumbotron input-group-box">
      <div>
        <img src="/img/logo.png">
      </div>
      <p class="loginTitle text-center">注册</p>
      <form id="register_form" action="/register" method="post">
        {% csrf_token %}
      <div class="form-control input-with-icon">
        <span class="glyphicon glyphicon-user"></span>
        <i class="input-ver">&nbsp;</i>
        <input type="text" class="login-input" id="username" name="username" placeholder="用户昵称"/>
      </div>
      <div class="form-control input-with-icon">
        <span class="glyphicon glyphicon-phone"></span>
        <i class="input-ver">&nbsp;</i>
        <input type="text" class="login-input" id="phone" name="phone" placeholder="登录手机号"/>
      </div>
      <div class="form-control input-with-icon">
        <span class="glyphicon glyphicon-lock"></span>
        <i class="input-ver">&nbsp;</i>
        <input type="password" class="login-input" id="password" name="password" placeholder="设置密码"/>
      </div>
      <div>
        <span>
          <a type="button" class="btn btn-default btn-verify" id="get_verify">获取短信验证码</a>
        </span>
        <input type="text" class="input-verify" id="verify_code" name="verify_code"/>
      </div>
      </form>
      <a type="button" class="btn btn-warning btn-lg btn-block btn-login" id="submit_register">注&nbsp;&nbsp;册</a>
      <span class="register-footer">
        已有账号？<a class="register-login" href="{{ seo_host }}/login">登录</a>或者<a class="register-login" href="{{ seo_host }}/search_teacher">再看看</a>
      </span>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/js/common/register.js"></script>
{% endblock %}
