{% extends 'base.html' %}
{% block css %}
  <link href="/css/custom/search_teacher.css" rel="stylesheet"/>
{% endblock %}
{% block define %}
  <section class="col-lg-12 col-md-12 search-teacher-head">
    <div class="container">
      <div class="btn-group col-lg-12 col-md-12">
        <button type="button" class="btn btn-select" onclick="openSelectScreen(1)">
          {% if not teach_area or teach_area == '0' %}
            全区
          {% elif teach_area == '1' %}
            电信
          {% elif teach_area == '2' %}
            网通
          {% endif %}
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
      </div>
      <div class="btn-group col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 study-text">
          <p>学习</p>
        </div>
        <div class="col-lg-11 col-md-11">
          <button type="button" class="btn btn-select" onclick="openSelectScreen(2)">
            {% if not teach_position or teach_position == '0' %}
              全部位置
            {% elif teach_position == '1' %}
              中单
            {% elif teach_position == '2' %}
              上单
            {% elif teach_position == '3' %}
              ADC
            {% elif teach_position == '4' %}
              打野
            {% elif teach_position == '5' %}
              辅助
            {% endif %}
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>

        </div>
      </div>

      <div class="btn-group col-lg-10 col-md-10" style="float: right;">
        <button type="button" class="btn btn-select" style="margin-top: 0" onclick="openSelectScreen(3)">
          {% if not teach_hero or teach_hero == '0' %}
            全部英雄
          {% else %}
            {{ teach_hero.hero_name }}
          {% endif %}
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
      </div>

    </div>
  </section>
  <section class="col-lg-12 col-md-12 search-teacher-body">
    <div class="container">
      {% for mentor in mentors %}
        <div class="col-lg-3 col-md-3">
          <div class="teacher-info-panel" onclick="toMentorDetail('{{ mentor.id }}')">
            <div class="teacher-info-panel-head" style="background: url('{{ mentor.avatar }}') center no-repeat;">
              {% if mentor.status == 1 %}
                <div class="tag-status tag-status-success">
                  <i class="triangle-top-right-success"></i>
                  <i class="triangle-bottom-left-success"></i>
                  <p class="status-text">可立即授课</p>
                </div>
              {% elif mentor.status == 2 %}
                <div class="tag-status tag-status-warning">
                  <i class="triangle-top-right-warning"></i>
                  <i class="triangle-bottom-left-warning"></i>
                  <p class="status-text">需排队</p>
                </div>
              {% elif mentor.status == 3 %}
                <div class="tag-status tag-status-failed">
                  <i class="triangle-top-right-failed"></i>
                  <i class="triangle-bottom-left-failed"></i>
                  <p class="status-text">休息中</p>
                </div>
              {% endif %}
            </div>
            <div class="teacher-info-panel-body">
              <p class="teacher-info-introduce">
                {{ mentor.intro }}
              </p>
              <p class="teacher-info-name">
                <a href="/mentor_detail?mentor_id={{ mentor.id }}" target="_blank">{{ mentor.nick }}</a>
                <span class="teacher-info-value">￥{{ mentor.men_courses.first.price }}</span>
              </p>
              <div class="teacher-info-ver col-sm-12"></div>
              <p class="teacher-info-attribute col-sm-6">
                段位：{{ mentor.game_level }}
              </p>
              <p class="teacher-info-attribute col-sm-6">
                擅长位置：
                {% if mentor.good_at == 1 %}
                  中单
                {% elif mentor.good_at == 2 %}
                  上单
                {% elif mentor.good_at == 3 %}
                  ADC
                {% elif mentor.good_at == 4 %}
                  打野
                {% elif mentor.good_at == 5 %}
                  辅助
                {% endif %}
              </p>
              <p class="teacher-info-attribute col-sm-12">
                擅长英雄：
                {% if mentor.expert_hero1 %}
                  <img src="{{ mentor.expert_hero1.hero_picture }}" class="hero-header"/>
                {% endif %}
                {% if mentor.expert_hero2 %}
                  <img src="{{ mentor.expert_hero2.hero_picture }}" class="hero-header"/>
                {% endif %}
                {% if mentor.expert_hero3 %}
                  <img src="{{ mentor.expert_hero3.hero_picture }}" class="hero-header"/>
                {% endif %}
              </p>
              <p class="teacher-info-attribute col-sm-8">
                交易量：{{ mentor.men_orders.count }}
              </p>
              <p class="teacher-info-attribute col-sm-4">
                评分：{{ mentor.mark }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
      {% if mentors.has_other_pages %}
        <nav class="col-md-12 col-lg-12 text-center">
          <ul class="pagination">
            {% if mentors.has_previous %}
              <li>
                <a href="/search_teacher?page_num={{ mentors.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
                </a>
              </li>
            {% endif %}

            {% for page in mentors.paginator.page_range %}
              {% if page == mentors.number %}
                <li class="active"><a href="#">{{ page }}</a></li>
              {% else %}
                <li><a href="/search_teacher?page_num={{ page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if mentors.has_next %}
              <li>
                <a href="/search_teacher?page_num={{ mentors.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <a href="#" aria-label="Next">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </section>
{% endblock %}
{% block select_screen %}
  <div class="select-screen" onclick="closeSelectScreen()">
    <div class="container">
      <div class="col-lg-12 col-md-12 select-screen-area">
        <a href="/search_teacher?teach_area=0">全区</a>
        <br/>
        <a href="/search_teacher?teach_area=1">电信</a>
        <br/>
        <a href="/search_teacher?teach_area=2">网通</a>
      </div>
      <div class="col-lg-11 col-md-11 select-screen-position">
        <a href="/search_teacher?teach_position=0">全部位置</a>
        <br/>
        <a href="/search_teacher?teach_position=1">中单</a>
        <br/>
        <a href="/search_teacher?teach_position=2">上单</a>
        <br/>
        <a href="/search_teacher?teach_position=3">ADC</a>
        <br/>
        <a href="/search_teacher?teach_position=4">打野</a>
        <br/>
        <a href="/search_teacher?teach_position=5">辅助</a>
      </div>
      <div class="col-lg-10 col-md-10 select-screen-hero">
        <a href="/search_teacher?teach_hero=0">所有英雄</a>
        <br/>
        {% for hero in heroes %}
          {% if teach_position and teach_position != '0' and hero.hero_type == teach_position %}
            <a href="/search_teacher?teach_hero={{ hero.id }}">{{ hero.hero_name }}</a>
            <br/>
          {% elif not teach_position or teach_position == '0' %}
            <a href="/search_teacher?teach_hero={{ hero.id }}">{{ hero.hero_name }}</a>
            <br/>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/js/common/search_teacher.js"></script>
{% endblock %}