{% extends 'common/base_template.html' %}
{% block common_define %}
  <p>
    <br/>
  </p>
  <p>
    问题1：为什么要购买游戏教练服务？
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;LOL（DOTA2）就像足球的拼搏和象棋的睿智。她已是我们的一种生活方式，随着电子竞技的变革，这一切已远不止于游戏。“好好玩游戏”，意味着以正确的方法和态度对待每一场游戏。我们希望帮助每一位游戏爱好者者找到更强大的自己，享受更精彩的生活与游戏。
  </p>
  <p>
    问题2：如何更快地找到合适自己的教练？
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;①点击网站页眉“寻找教练”或网站上方图片进入教练列表页；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;②根据自身的学习需要，通过页面上方筛选栏中的服务器、位置、英雄三个条件进行点击选择；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;③从经过筛选后的教练中挑选出最适合你的一位。
  </p>
  <p>
    问题3：教学都有什么形式？
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;LOL课程中，主要有三种形式：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;①实战教学：学员与教练一起进行两场游戏，匹配或排位皆可由学员选择。在实战中更容易发现学员的问题，这种教学方式也更注重对学员的判断力与意识的培养，同时也能领略飞吧大神教练的犀利~
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;②课程教学：教学时长90分钟，教学内容由教练与学员协商后，根据学员的问题，有针对性地进行制定。在课程教学中，教学方式更为灵活，学习更有目的性和针对性。
  </p>
    <p>
    &nbsp; &nbsp; &nbsp; &nbsp;③更多课程：每个教练都有自己制定的特色课程，因人而异，学员可以根据自己的喜好来选择性购买。
  </p>
  <p>
    问题4：找到教练就能成为大神吗？
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;  每一位玩家，在游戏过程中都会遇到各种各样的瓶颈。我们的教练专注于带领大家突破瓶颈，提升实力。但是学习是一个循序渐进的过程，不可操之过急。有些英雄和位置因其特殊性在一两场教学后并不能有太显著的提现。这需要学员能够在教练教学过程中虚心学习，私下里多进行练习。师父领进门修行在个人，相信只要你认真学习，技术和水平一定会有质的飞跃。
  </p>
  <p>
    问题5：教练从何而来？是不是真的有那么高的水平？
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;飞吧游戏教练诣在打造最专业化的游戏教学平台，平台上的所有教练都是经过工作人员严格筛选出来的。我们通过教练的游戏水平以及沟通表达能力等综合因素，来判定教练是否适合进行教学。保证为学员提供水平高，技术强，讲解好的最优秀教练。&nbsp;
  </p>

  <p>
    问题6：我每天能玩游戏的时间晚，会不会没有教练了？
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;飞吧游戏教练平台为了保证用户的教学体验，24小时为学员提供在线教学服务，不用担心会出现游戏时间晚，教练都下线的问题。
  </p>
  <p>
    问题7：我想找女性教练陪我玩游戏，你们以后会不会拓展成陪玩教学一体的网站？
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;飞吧游戏教练只专注于最专业的游戏教学，陪玩不在平台日后发展考虑范围之内。后期平台会挑选游戏水平高的女性玩家来为大家进行游戏教学，敬请期待！
  </p>

{% endblock %}