{% extends 'common/base_template.html' %}
{% block common_define %}
  <p>
    Fibar游戏教练平台用户协议
  </p>
  <p>
    利用本站服务即视为同意以下用户协议。
  </p>
  <p>
    <br/>
  </p>
  <p>
    一、关于本用户协议的说明
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;本用户协议双方为济南江山如画网络科技有限责任公司（下称“Fibar”）与用户，本用户协议具有中国相关法律法规规定的合同效力。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;本用户协议内容包括协议正文及所有Fibar已经发布的或将来可能发布的各类规则、说明或其他文件。所有上述文件视为本协议不可分割的一部分，与本协议正文具有同等法律效力。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;用户在使用Fibar提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。Fibar有权根据需要不时地制定、修改本协议或各类规则，如本协议有任何变更，Fibar将在网站上刊载公告，通知予用户。如用户不同意相关变更，必须立即停止使用“服务”，否则视为用户同意相关变更。经修订的协议一经在Fibar网站公布后，立即自动生效。各类规则会在发布后生效，亦成为本协议的一部分。登录或继续使用“服务”将表示用户接受经修订的协议。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。
  </p>
  <p>
    二、服务内容
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;为注册已付费用户提供网络培训服务，目前包括以下两种服务：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;1.次卡套餐：在单个游戏导师的安排下，安排学员在规定时间内使用此卡学习，每次使用完成后可使用次数减少一次，次卡到期时未使用的课程将失效。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;2.包月套餐：有效期内在单个游戏导师的安排下，安排学员在规定时间内进行学习，在包月时间内套餐可用。
  </p>
  <p>
    三、服务费用
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;1.注册用户可以根据自己的需求选择适合自己的服务套餐，每种套餐均有不同费用标准，每种费用标准包含不同的服务内容。Fibar有权对服务费用及所提供内容作出调整，并于Fibar网站上以公示的形式生效。服务套餐的费用标准及所包含的课程内容与服务项目以实际购买时网站所示内容为准。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;2.所购买的服务套餐将于注册用户付清全额费用后开通使用。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;3.注册用户所支付的费用仅包含所购买的服务套餐，而不包含网络信息费、电话费等。
  </p>
  <p>
    四、服务使用规则
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;1.注册用户购买服务套餐成功后，即获得相应的服务，具体规则以Fibar网站公示的内容为准。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;2.Fibar提供的服务全部采用网络自助预约形式，不提供电话预约等形式。注册用户须提前3分钟预约，若游戏导师为工作状态则需排队。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;3.因注册用户原因导致服务取消或变更或进行调整的，若为恶意下单退单则Fibar有权对该用户账号进行警告或封禁。
  </p>
  <p>
    五、用户义务与责任
  </p>
  <p>
    &nbsp;1.所有用户不得从事以下行为：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）向其他用户或其他第三方转让、出借、许可使用、出售全部或部分本服务；&nbsp;
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）侵害Fibar的企业声誉、信用、商标权、著作权等各项合法权利；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）妨碍Fibar提供服务的行为；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（4）利用Fibar服务进行营利及投机行为；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（5）犯罪行为及与犯罪有关的行为；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（6）使用不恰当语言或行为导致本站游戏导师不愉快的行为；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（7）用任何方式打探或窃取Fibar商业机密的行为；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（8）违反公序良俗的行为；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（9）其它由Fibar判断为不适当的行为。
  </p>
  <p>
    &nbsp;2.所有用户承诺：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）遵守所有关于使用网络服务的法律法规规定、网络协议、程序和惯例；不得利用Fibar游戏教练平台制作、复制、查阅和传播下列信息：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;①任何不符合国家法律、法规规定的资料、信息；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;②不利于国家团结和社会安定的资料；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;③任何捏造或者歪曲事实，散布谣言，扰乱社会秩序的信息；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;④任何教唆他人进行违法犯罪行为的资料；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;⑤任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的信息资料；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;⑥损害Fibar及济南江山如画网络科技有限责任公司声誉或商业利益的信息。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）不得故意制作、传播计算机病毒等破坏性程序。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）其它法律法规以及行政规章禁止实施的行为。如果用户的行为违背上述1、2两款规定，Fibar可以做出独立判断并有权立即取消用户资格且不退还剩余课程费用。用户应对自己在Fibar上的违法行为承担全部法律责任。
  </p>
  <p>
    3.基于网络服务的特殊性，用户同意：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）自行配备上网的所需设备，包括个人电脑、调制解调器或其他必备上网装置；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）自行负担个人上网所产生的与此服务有关的网络信息费及电话费等；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）在注册时按照注册提示提供准确用户名和密码以及所需的个人真实资料；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（4）在个人的注册信息发生变化时，用户应及时更新自己的注册信息，保证其个人资料的详尽和准确。所有用户输入的个人信息将被视作准确表明了用户的身份，并作为Fibar提供所有服务的有效身份依据。
  </p>
  <p>
    4.用户的账户密码和安全性
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）用户一旦注册成功，成为Fibar的正式用户后，应当对自己的用户名（亦称帐号）、密码的安全性负全部责任。用户的密码只能由用户自己掌握。用户可以通过Fibar网站随时更改密码。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）由于用户因帐号或密码泄露造成的各种损失，Fibar不承担任何责任。用户应对以其用户名进行的所有活动和事件负责。用户发现任何非法使用其用户帐号或存在安全漏洞的情况，应立即通知Fibar。用户须自行负责对用户名和密码保密，且须对该用户名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。
  </p>
  <p>
    5.禁止劝诱
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;用户明确了解并同意，用户不得唆使、劝诱Fibar（及关系企业）的员工、游戏导师、顾问与Fibar终止或解除服务关系，或由用户自己介绍他人予以雇佣（无论正式、兼职、约聘）的任何职务。如有违反，用户应承担Fibar为填补该职位空缺所支出的合理费用，并赔偿Fibar因此而遭受的一切实际损失及惩罚性违约金（以该员工离职前年薪的三（3）倍计算）。
  </p>
  <p>
    <br/>
  </p>
  <p>
    六、Fibar的权利和义务
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;1.Fibar有义务在现有技术上维护网站的正常运行，并努力提升和改进技术，使活动得以顺利进行；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;2.对用户在注册使用Fibar中所遇到的与注册或交易有关的问题及反映的情况，Fibar应及时作出回复；&nbsp;
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;3.对于用户在Fibar上的不当行为或其它任何Fibar认为应当终止服务的情况，Fibar有权随时作出删除相关信息、终止服务提供等处理，而无须征得用户的同意。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;4.Fibar应本着诚实信用的原则向用户提供服务，不得随意中断或停止提供该项服务。但由于不可抗力或其他非Fibar的原因使本站系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录或服务中断或停止等，Fibar不承担任何责任。但是Fibar会尽可能合理地协助处理善后事宜，并努力使用户免受经济损失。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;5.Fibar享有对用户网上活动的监督和指导权，对凡是从事网上非法活动的用户，有权终止所有服务。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;6.用户理解并不可撤销的同意Fibar会在用户的计算机上设定或取用Fibar cookies。Fibar允许那些在Fibar网页上发布广告的公司到用户计算机上设定或取用 cookies 。在用户登录时获取数据，Fibar使用cookies可为用户提供个性化服务。如果拒绝所有 cookies，可自行设置。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;7.Fibar将根据互联网的发展和法律、法规的变化，在认为必要时可以单方面修改用户协议。本用户协议一旦发生变动，将会在重要页面上提示修改内容。如果不同意所改动的内容，用户可以主动放弃获得的网络服务。如果用户继续享用网络服务，则视为接受用户协议的变动。当发生争议时，应以最新用户协议的内容为准。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;8.用户不得跳过平台与游戏教练直接进行支付，凡是跳过Fibar游戏教练平台的支付行为所导致的后果Fibar不承担任何责任。
  </p>
  <p>
    <br/>
  </p>
  <p>
    七、服务终止
  </p>
  <p>
    1.用户终止&nbsp;
  </p>
  <p>
    用户在购买课程后，如欲申请退课及退费，可以按照以下规定办理：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）用户自购买服务之日起三（3）日内，如不愿再继续使用Fibar所提供的服务，应以书面方式通知Fibar申请退费，Fibar将就其已缴纳的费用扣除已经使用的部分后，退还剩余金额。已经使用部分的单价按照实际购买数量单价折算。实际购买值注册用户为购买服务所花费的实际支付，不包括Fibar提供的优惠、赠送等内容。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）用户自购买服务之日起第三（3）日起，不得要求退费。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）退款金额将按照用户的支付方式，退还给用户，对于有特殊情况的，退款将支付到由用户书面提供的本人银行账户。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（4）用户明确理解并同意，如用户提前申请退费，或用户有重大违约事项被Fibar终止服务，则用户在购买课程时赠送的课程、优惠等项目不得折算为退款现金。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（5）用户可向Fibar提出注销Fibar注册用户身份，经Fibar审核同意，由Fibar注销该注册用户，用户即解除与Fibar的用户协议关系。但注销该用户账号后，Fibar仍保留下列权利：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; A．用户注销后，Fibar有权保留该用户在Fibar网站相应的活动记录；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp; B．用户注销后，如用户在注销前在Fibar上存在违法行为或违反合同的行为，Fibar仍可行使本用户协议所规定的权利。
  </p>
  <p>
    2.Fibar终止
  </p>
  <p>
    在下列情况下，Fibar可以随时终止服务：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）在用户违反本用户协议以及其它相关规定时，Fibar有权终止向该用户提供服务并删除账号、密码等信息。在此情形下，用户若已购买课程服务，已缴纳的课程费用不予返还。Fibar将在终止服务时通知用户。但如该用户在被Fibar终止提供服务后，再一次直接或间接或以他人名义注册为Fibar用户的，Fibar有权再次单方面终止向该用户提供服务；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）Fibar发现用户注册数据中内容是虚假或不存在的，Fibar有权随时终止向该用户提供服务；如Fibar有合理理由怀疑用户提供的资料错误、不实、过时或不完整的，Fibar有权发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对用户提供部分或全部服务。Fibar对此不承担任何责任，用户将承担因此产生的任何直接或间接损失及不利后果。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）用户协议更新时，用户明示不愿接受新的用户协议的；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（4）不可抗力导致本协议不能履行的，不可抗力”是指双方不可预见、或可以预见但不能避免并或克服的客观情况，该事件妨碍、影响或延误任何一方根据合同履行其全部或部分义务。该事件包括但不限于政府行为、自然灾害、战争、网络堵塞或中断、黑客袭击或任何其他类似事件；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（5）其它Fibar认为需终止服务的情况。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;在上述情况下，Fibar不就终止服务而对用户或任何第三者承担任何责任。终止服务后，用户没有权利要求Fibar，Fibar也没有义务传送任何未处理的信息或提供未完成的服务给用户或第三方。
  </p>
  <p>
    <br/>
  </p>
  <p>
    八、责任范围
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;1.用户明确理解和同意，Fibar不对因下述任一情况而导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论Fibar是否已被告知该等损害赔偿的可能性)：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;A.对于用户因帐户或密码泄露造成的各种损失；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;B.由于不可抗力或其他非因Fibar的原因使本站系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录或服务中断或停止等；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;C.Fibar依据本协议第7条第2款终止服务时；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;2.用户明确理解并同意，如因其违反有关法律或者本协议之规定，使Fibar遭受任何损失，受到任何第三方的索赔，或任何行政管理部门的处罚，用户应对Fibar提供补偿，包括合理的律师费用等。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;3.Fibar拒绝提供任何类型的担保，不论是明确的或隐含的，但是不对商业性的隐含担保、特定目的和不违反规定的适当担保作限制。Fibar不担保其服务一定能够满足用户的要求，也不担保其服务不会因各种客观原因中断，对服务的及时性、安全性、出错发生均不作担保，由用户自己承担系统受损或资料丢失的风险和责任。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;4.用户理解并同意，因Fibar过错导致用户不能享受相应服务，Fibar承担相应责任的最高限为用户实际支付的全部费用。
  </p>
  <p>
    <br/>
  </p>
  <p>
    九、隐私权制度
  </p>
  <p>
    1.适用范围：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）用户注册Fibar账户时，用户根据Fibar要求提供的个人注册信息；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）在用户使用Fibar服务，参加Fibar活动，或访问Fibar网页时，Fibar自动接收并记录的用户浏览器上的服务器数值，包括但不限于IP地址等数据及用户要求取用的网页记录；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）Fibar收集到的用户在使用Fibar的有关数据，包括但不限于购买课程、预约课程、上课等行为；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（4）Fibar通过合法途径从商业伙伴处取得的用户个人数据。
  </p>
  <p>
    2.信息使用：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）Fibar承诺不会向任何人出售、出租、出借或无偿提供用户的个人信息，除非事先得到用户的许可；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）Fibar亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人信息。任何用户如从事上述活动，一经发现，Fibar有权立即终止与该用户的用户协议，查封其账号；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）为服务用户的目的，Fibar可能通过使用用户的个人信息，向用户提供服务，包括但不限于向用户发出产品和服务信息，或者与Fibar合作伙伴共享信息以便他们向用户发送有关其产品和服务的信息（后者需要用户的事先同意）。
  </p>
  <p>
    3.信息披露：
  </p>
  <p>
    用户的个人信息将在下述情况下部分或全部被披露：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）经用户书面同意，向第三方披露；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（3）为提供用户所要求的产品和服务，而必须和第三方分享用户的个人信息；
  </p>
  <p>
    4.信息安全：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）Fibar账户有安全保护功能，请妥善保管用户的账户及密码信息；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）如果用户发现自己的个人信息泄密，尤其是Fibar账户及密码发生泄露，请用户立即联络Fibar客服，以便Fibar采取相应措施。
  </p>
  <p>
    5.、Cookie的使用：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（1）通过Fibar所设Cookie所取得的有关信息，将适用本政策；
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;（2）在Fibar上发布广告的公司通过广告在用户计算机上设定的Fibar，将按其自己的隐私权政策使用；
  </p>
  <p>
    6.编辑和删除个人信息的权限：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;用户可以点击“会员中心”对用户的个人信息进行编辑和删除，除非Fibar另有规定；
  </p>
  <p>
    7.政策修改：
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;Fibar保留对本隐私权制度作出不时修改的权利，隐私权政策构成本协议的有效组成部分。
  </p>
  <p>
    <br/>
  </p>
  <p>
    十、法律与管辖
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;1.本用户协议的订立、执行、解释和争议的解决均适用现行中华人民共和国法律法规。如发生本协议部分条款与中华人民共和国法律法规相抵触时，则这些条款将完全按法律法规的规定重新解释，本用户协议的其它条款仍对Fibar和用户具有法律约束力。本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。
  </p>
  <p>
    &nbsp; &nbsp; &nbsp; &nbsp;2.如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方应向北京市海淀区人民法院提起诉讼。
  </p>
  <p>
    <br/>
  </p>
{% endblock %}