{% extends 'base.html' %}
{% block css %}
  <link href="/css/custom/teacher_detail.css" rel="stylesheet"/>
{% endblock %}
{% block define %}
  <div class="col-lg-12 col-md-12 teacher-detail-box">
    <div class="container">
      <div class="col-md-7 col-lg-7 intro-vedio">
        {% if mentor_detail.have_intro_video %}
          <video class="video-js" preload="auto" poster="{{ mentor_detail.video_poster }}" data-setup="{}">
            <source src="{{ mentor_detail.intro_video }}" type="video/mp4">
            {#          <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">#}
          </video>
        {% else %}
          <img src="{{ mentor_detail.intro_picture }}" style="width: 100%"/>
        {% endif %}
      </div>
      <div class="col-md-5 col-lg-5 intro-content text-left" style="margin-top: -18px;">
        <h4>{{ mentor_detail.nick }}</h4>
        {% if mentor_detail.status == 3 %}
          <div class="status-box status-danger col-lg-4 col-md-4">
            不接单
          </div>
        {% elif mentor_detail.status == 1 %}
          <div class="status-box status-success col-lg-4 col-md-4">
            可立即授课
          </div>
        {% elif mentor_detail.status == 2 %}
          <div class="status-box status-warning col-lg-8 col-md-8">
            上课中(预计时间{{ teach_end_time | date:"m/d H:i:s" }})
          </div>
        {% endif %}
        {% if active_user %}
          <div class="col-lg-4 col-md-4" id="followMentor">
            {% if mentor_detail in active_user.follow.all %}
              <button class="btn btn-warning" onclick="cancelFollow('{{ mentor_detail.id }}')">取消关注</button>
            {% else %}
              <button class="btn btn-warning" onclick="followMentor('{{ mentor_detail.id }}')">关注</button>
            {% endif %}
          </div>
        {% endif %}
        <div class="col-lg-12 col-md-12">

          <p class="intro-msg">{{ mentor_detail.intro }}</p>

          <p>交易量：{{ mentor_detail.men_orders.count }}</p>

          <p>评分：{{ mentor_detail.mark }}</p>
          <br/>
          <p>
            游戏天梯：{{ mentor_detail.game_level }}
          </p>
        <p>
            教学大区：
            {% if '1' == mentor_detail.teach_area %}
              电信
            {% elif '2' == mentor_detail.teach_area %}
              网通
            {% elif '0' == mentor_detail.teach_area %}
              全区
            {% endif %}
          </p>
          <p>
            擅长位置：
            {% if '1' in mentor_detail.good_at %}
              1号位
            {% endif %}
            {% if '2' in mentor_detail.good_at %}
              2号位
            {% endif %}
            {% if '3' in mentor_detail.good_at %}
              3号位
            {% endif %}
            {% if '4' in mentor_detail.good_at %}
              4号位
            {% endif %}
            {% if '5' in mentor_detail.good_at %}
              5号位
            {% endif %}
          </p>

          <p>
            擅长英雄：
            {% if mentor_detail.expert_hero1 %}
              <img src="{{ mentor_detail.expert_hero1.hero_picture }}" data-toggle="tooltip" data-placement="top" title="{{ mentor_detail.expert_hero1.hero_name }}" class="hero-header"/>
            {% endif %}
            {% if mentor_detail.expert_hero2 %}
              <img src="{{ mentor_detail.expert_hero2.hero_picture }}" data-toggle="tooltip" data-placement="top" title="{{ mentor_detail.expert_hero2.hero_name }}" class="hero-header"/>
            {% endif %}
            {% if mentor_detail.expert_hero3 %}
              <img src="{{ mentor_detail.expert_hero3.hero_picture }}" data-toggle="tooltip" data-placement="top" title="{{ mentor_detail.expert_hero3.hero_name }}" class="hero-header"/>
            {% endif %}
          </p>




        </div>

      </div>
      <div class="col-lg-12 col-md-12">
        {% for course in course_list %}
          <div class="col-lg-4 col-md-4" onclick="toConfirmOrder({{ course.id }}, {{ mentor_detail.status }})">
            <div class="detail-course-box">
              <h6>
                {{ course.name }}
                <span class="course-price">￥{{ course.price }}</span>
              </h6>

              <p>
                {{ course.course_info }}
              </p>

              <div class="buy-box" onclick="toConfirmOrder({{ course.id }}, {{ mentor_detail.status }})">
                <h2>
                  立即购买
                </h2>
              </div>
            </div>
          </div>
        {% endfor %}
        {% if mentor_detail.men_courses.all.count > 2 %}
          <div class="col-lg-4 col-md-4">
            <div class="detail-course-box view-more">
              <div class="buy-box" onclick="viewAllCourses()">
                <h2>
                  查看更多
                </h2>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-mg-12 detail-navbar">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-detail" role="tablist">
        <li role="presentation" class="active">
          <a href="#mentor-intro" aria-controls="mentor-intro" role="tab" data-toggle="tab">
            <span>教练介绍</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">
            <span>教学评价</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#heroes-list" aria-controls="heroes-list" role="tab" data-toggle="tab">
            <span>英雄池</span>
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content container">
        <div role="tabpanel" class="tab-pane active" id="mentor-intro">
          <p>{{ mentor_detail.intro_detail | safe }}</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="comment">
          {% if mentor_detail.men_comments.all.count == 0 %}
            <h6 class="text-center">暂时没有评价</h6>
          {% endif %}
          {% for comment in mentor_detail.men_comments.all %}
            <div class="col-lg-12 col-md-12 comment-box" style="padding-left: 0; padding-right: 0px;">
              <div class="col-lg-1 col-md-1" style="padding-left: 0px;">
                <img src="{{ comment.comment_by.avatar }}" class="student-header"/>
              </div>
              <div class="col-lg-11 col-md-11" style="padding-right: 0px;">
                <div class="col-lg-5 col-md-5" style="padding-left: 0">
                  <h5 class="comment-by-name" style="color:#000000; font-weight: 200;font-size: 24px;margin-left: -20px">
                    {{ comment.comment_by.nick }}
                    <span style="color:dimgray;">{{ comment.comment_by.rank }}级学员</span>
                  </h5>
                </div>
                <div class="col-lg-7 col-md-7 text-right" style="padding-right: 0px;margin-top: 15px;">
                  <p>{{ comment.create_time | date:'m-d' }}&nbsp;&nbsp;&nbsp;评分：{{ comment.mark }}</p>
                </div>
                <div class="col-lg-12 col-md-12" style="padding-left: 0">
                  <p class="comment-content" style="margin-bottom: 50px;margin-left: -20px">{{ comment.content }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane" id="heroes-list">
          <div class="heroes-list">
            {% for hero in mentor_detail.hero_list.all %}
              <div class="col-lg-1 col-md-1">
                <img src="{{ hero.hero_picture }}"/>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  {% if mentor_detail.status == 3 %}
    <script>
      $(document).ready(function(){
        Notify("该教练正在休息，请查看其他教练")
      })
    </script>
  {% endif %}
  <script src="/js/common/teacher_detail.js"></script>
  <script src="//vjs.zencdn.net/4.7/video.js"></script>
{% endblock %}