{% extends 'navbar.html' %}
{% block base %}
  {% block define %}
  {% endblock %}
<div class="col-md-12 col-lg-12 footer" style="margin-top: 10px">
  <div class="container">
    <p class="footer-line">&nbsp;</p>
  </div>
  <div class="container">
    <div class="footer-two">
      <div class="col-lg-2 col-md-2">
        <a href="#">关于我们</a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="#">联系我们</a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="#">成为教练</a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="#">法律声明</a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="#">常见问题</a>
      </div>
      <div class="col-lg-2 col-md-2">
        <a href="#">服务指南</a>
      </div>
    </div>
    <div class="text-center">
      <p style="color: #95a5a6;font-size: 14px">Copyright© 带你飞.com 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京公安网备案号11010502026831</p>
    </div>
  </div>
</div>
{% endblock %}