{% extends 'navbar.html' %}
{% block base %}
  {% block define %}
  {% endblock %}
<div class="col-md-12 col-lg-12" style="margin-top: 10px">
  <div class="container footer-one">
    <div class="col-lg-2 col-md-2">
      <a href="#">购买流程</a>
    </div>
    <div class="col-lg-2 col-md-2">
      <a href="#">常见问题</a>
    </div>
    <div class="col-lg-2 col-md-2">
      <a href="#">导师教程</a>
    </div>
    <div class="col-lg-2 col-md-2">
      <a href="#">成为导师</a>
    </div>
    <div class="col-lg-2 col-md-2">
      <a href="#">退款说明</a>
    </div>
    <div class="col-lg-2 col-md-2">
      <a href="#">隐私条款</a>
    </div>
  </div>
  <div class="container">
    <p class="footer-line">&nbsp;</p>
  </div>
  <div class="container">
    <div class="footer-two">
      <div class="col-lg-3 col-md-3">
        <a href="#">关于我们</a>
        <span style="color: #ffffff;float: right">|</span>
      </div>
      <div class="col-lg-3 col-md-3">
        <a href="#">联系我们</a>
        <span style="color: #ffffff;float: right">|</span>
      </div>
      <div class="col-lg-3 col-md-3">
        <a href="#">人才招聘</a>
        <span style="color: #ffffff;float: right">|</span>
      </div>
      <div class="col-lg-3 col-md-3">
        <a href="#">友情链接</a>
      </div>
    </div>
    <div class="text-center">
      <p style="color: #ffffff;font-size: 14px">Copyright© 带你飞.com 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京公安网备案号11010502026831</p>
    </div>
  </div>
</div>
{% endblock %}