{% extends 'base.html' %}
{% block define %}
  <div id="carousel-example-generic" class="carousel slide container" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/img/index.jpg" alt="...">
        <div class="carousel-caption" style="padding-bottom: 25%">
          <button class="btn btn-default btn-lg">寻找导师</button>
        </div>
      </div>
      <div class="item">
        <img src="/img/index.jpg" alt="...">
        <div class="carousel-caption">

        </div>
      </div>
      <div class="item">
        <img src="/img/index.jpg" alt="...">
        <div class="carousel-caption">

        </div>
      </div>
    </div>
  </div>
  <div class="container" style="color: #ffffff">
    <div class="col-lg-6 col-md-6">
      <h6>
        平台介绍
      </h6>
      <p class="title-line">
        &nbsp;&nbsp;
      </p>
      <div>
        <video class="video-js" preload="auto" poster="/img/poster.jpg" data-setup="{}">
          <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
          <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
        </video>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <h6>
        游戏公告
      </h6>
      <p class="title-line">
        &nbsp;&nbsp;
      </p>
      <table class="table table-host">
        <tbody>
        {% for test in test_array %}
          <tr>
            <td>
              <a href="#">
                {{ test }}
                <span class="glyphicon glyphicon-menu-right" style="float:right;"></span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div style="background-color: rgb(16, 19, 24)">
    <div class="container" style="color: #ffffff;">
      <h6>
        推荐导师
      </h6>
      <div class="col-lg-3 col-md-3">
        <img class="col-md-5 col-lg-5" src="/img/touxiang.jpg"/>
        <div class="panel panel-default panel-black col-md-7 col-lg-7">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/js/host.js"></script>
  <script src="//vjs.zencdn.net/4.7/video.js"></script>
{% endblock %}