<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>带你飞</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/main.css" rel="stylesheet"/>
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #222222">
<nav class="navbar navbar-default" style="margin-bottom: 0;border-radius: 0">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">带你飞</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="lg-title">寻找导师</a></li>
        <li><a href="#" class="lg-title">在线客服</a></li>
        <li><a href="#" class="sm-title">登录</a></li>
        <li><a href="#" class="sm-title">注册</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/img/index.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="/img/index.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container" style="color: #ffffff">
  <div class="col-lg-6 col-md-6">
    <h3>
      平台介绍
    </h3>
    <div>

    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <h3>
      交流论坛
    </h3>
    <div class="list-group">
      <a href="#" class="list-group-item">游戏公告！！！！1</a>
      <a href="#" class="list-group-item">游戏公告@222222</a>
      <a href="#" class="list-group-item">游戏公告3333333</a>
      <a href="#" class="list-group-item">游戏公告4444444</a>
    </div>
  </div>
</div>
<div style="background-color: #000000">
  <div class="container" style="color: #ffffff;">
    <h3>
      推荐导师
    </h3>
    <div class="col-lg-3 col-md-3">
      <img class="col-md-5 col-lg-5" src="/img/touxiang.jpg"/>
      <div class="panel panel-default panel-black col-md-7 col-lg-7">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>