{% extends 'base.html' %}
{% block css %}
<link href="/css/LR.css" rel="stylesheet"/>
{% endblock %}
{% block base %}
  <div class="container">
    <div class="jumbotron input-group-box">
      <p>登录</p>
      <div class="form-control input-with-icon">
        <span class="glyphicon glyphicon-user"></span>
        <i class="input-ver">&nbsp;</i>
        <input class="login-input" name="username" placeholder="用户名"/>
      </div>
      <div class="form-control input-with-icon">
        <span class="glyphicon glyphicon-user"></span>
        <i class="input-ver">&nbsp;</i>
        <input class="login-input" name="password" placeholder="用户密码"/>
      </div>
      <button class="btn btn-primary btn-lg btn-block btn-login">登&nbsp;&nbsp;录</button>
      <a class="input-herf" href="/forget_password">忘记密码</a>
      <a class="input-herf" href="/register">注册</a>
    </div>
  </div>
{% endblock %}