<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>带你飞</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/flat-ui.min.css" rel="stylesheet">
  <link href="/css/leadFlyBase.css" rel="stylesheet"/>
  {% block css %}
  {% endblock %}
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 0;border-radius: 0;padding: 0 5% 0 5%">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">带你飞</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="lg-title">寻找导师</a></li>
        <li><a href="#" class="lg-title">在线客服</a></li>
        <li><a href="#" class="sm-title">登录</a></li>
        <li><a href="#" class="sm-title">注册</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img style="width: 30px;height: 30px;border-radius: 50%" src="/img/touxiang.jpg"/>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <span class="divider" style="width: 20%"></span>
              资料
              <span class="divider" style="width: 20%"></span>
            </li>
            <li><a href="/user/my_mes">我的档案</a></li>
            <li><a href="/user/my_order">我的订单</a></li>
            <li><a href="/user/follow_teacher">关注导师</a></li>
            <li><a href="/user/comment">交流中心</a></li>
            <li><a href="/user/message">消息</a></li>
            <li>
              <span class="divider" style="width: 20%"></span>
              服务
              <span class="divider" style="width: 20%"></span>
            </li>
            <li><a href="/user/recharge_withdrawal">充值提现</a></li>
            <li><a href="/user/security_center">安全中心</a></li>
            <li><a href="/user/complain">投诉</a></li>
            <li><a href="/user/logout">退出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block base %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>