<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/flat-ui.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet"/>
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="time-line" style="position: relative;">
  <div class="ver-line">
  </div>
  <ul>
    <li class="a">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
    <li class="a1">
      <div class="in">
        <p>2015-5-5</p>
      </div>
    </li>
    <li class="b">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
    <li class="a">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
    <li class="b">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

</body>
</html>