p{
    font-size: 16px;
    color: #7f8c8d;
}
html,body {
    background-color: #ffffff;
    position: relative;
    margin: 0;
    padding:0;
    height: 100%;
    min-width: 1200px;
}
#container {
    min-height:100%;
    height: auto !important;
    position: relative;
}

#header>nav{
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px #dddddd;
}

#page {
    margin: 0 auto;
    padding-bottom: 105px;/*等于footer的高度*/
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 105px;/*脚部的高度*/
    clear:both;
}

.search-form{
    margin-left: 30px;
}

.btn-search,
.btn-search:hover{
    background-color: #FFFFFF;
    color: #000000;
}


.btn-search>span{
    font-size: 20px;
}

.divide-line{
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #1abc9c;
    left: 80px;
    top: 0;
}

.nav-host{
    position: relative;
}

.nav-logo{
    width: 53px;
    display: inline-block;
}

.navbar-nav .dropdown{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.navbar-nav .dropdown .dropdown-toggle{
    padding-top: 13px;
    padding-bottom: 10px;
}

.navbar-nav .dropdown .dropdown-menu{
    box-shadow: none;
    border-top: 0;
    border-radius: 0;
}

.mentor-status{
    font-size: 14px;
}

.host-title{
    font-size: 20px;
    margin-top: 40px;
    padding-left: 20px;
}

.btn-find-mentor{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-find-mentor:hover{
    background-color: #bdc3c7;
    /*color: rgba(255, 255, 255, 0);*/
}

.carousel-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 1px 1px 1px 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 50%;
}

.carousel-indicators .active {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 1px 1px 1px 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: #bdc3c7;
  border: 1px solid #fff;
  border-radius: 50%;
}

.nav .lg-title,
.lg-title{
    font-size: 18px;
    font-weight: 100;
}

.nav .sm-title,
.sm-title{
    font-size: 14px;
    font-weight: 100;
}

.more-notices{
    float: right;
    font-size: 16px;
}

.footer{
    background-color: rgb(34, 38, 41);
}

.footer-line{
    background-color: rgb(43, 43, 43);
    height: 1px;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-two{
    height: 40px;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10px;
}
.footer-two>div>a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.footer-two>div>a:hover{
    font-size: 14px;
    color: #a6e1ec;
    text-decoration: none;
}

.navbar-nav>li>.dropdown-menu{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 10px #dddddd;
    min-width: 130px;
}

.dropdown-menu li{
    text-align: center;
}

.user-mes-title{
    position: relative;
    text-align: center;
}

.user-mes-title span{
    vertical-align: middle;
    background: #FFFFFF;
    padding: 0 5%;
    margin-top: 5px;
}

.user-mes-title:before{
    position: absolute;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    content: "";
    width: 80%;
    height: 2px;
    display: block;
    background: #DDDDDD;
    z-index: -1;
}

/*导师页面*/
.hero-header{
    height: 25px;
    width: 25px;
}

.list-group-item{
    background-color: #222222;
    border: 0;
}
.list-group-item->a{
    color: #ffffff;
    font-size: 14px;
}
.panel-black{
    background-color: #000000;
    border: #222222;
    border-radius: 0;
}

.table-host>tbody>tr{
    position: relative;
}

.table-host>tbody>tr>td{
    border-top: 0;
    line-height: 2;
}

.table-host>tbody>tr>td>a:link,
.table-host>tbody>tr>td>a:visited,
.table-host>tbody>tr>td>a:active{
    text-decoration:none;
}

.table-host>tbody>tr>td>a{
    text-decoration:none;
    color: #16a085;
    font-size: 16px;
    display: inline-block;
    margin-left: 35px;
}

.table-host>tbody>tr>td>a:hover{
    text-decoration:none;
    color: #1abc9c;
}

.table-host-ver{
    background: #16a085;
    width: 1px;
    height: 52px;
    display: inline-block;
    position: absolute;
    margin-top: -6px;
}

.table-host>tbody>tr>td:hover .table-host-ver{
    width: 6px;
}

.host-teacher-box{
    /*height: 50%;*/
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
}

.recommend-teacher-container{
    margin-bottom: 20px;
    position: relative;
    display: block;
    height: 30%;
}

.recommend-teacher-header{
    width: 39.215686%;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 100%;
    display: inline-block;
}

.recommend-teacher-base{
    width: 54.901961%;
    display: inline-block;
    position: absolute;
    padding-left: 5px;
}

.recommend-teacher-base h6{
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(60, 60, 60);
}

.recommend-teacher-base p{
    font-size: 0.5em;
    line-height: 0.7;
}


/* teacher */
.teacher-container{
    padding-top: 30px;
    margin-bottom: 30px;
}

.teacher-define{
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 10px #ecf0f1;
    min-height: 330px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.teacher-host-nav{
    height: 250px;
    background: url(/img/3.jpg) center;
    background-size: cover;
    vertical-align:middle;
    padding: 0;
}
.teacher-host-head{
    background-color: rgba(0, 0, 0, 0.2);
    height: 250px;
    padding-top: 30px;
}
.teacher-head{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.list-teacher-user{
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 10px #ecf0f1;
}
.list-teacher-user>a{
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}
.list-group-item>p{
    border-bottom: 1px solid #ecf0f1;
    margin: 0 10px 0 10px;
    padding: 15px 0 15px 0;
    font-size: 14px;
}
.list-teacher-user>a:hover,
.list-group-item-active{
    background-color: #ffffff;
    border-left:4px solid #1abc9c;
    color: #1abc3c;
}

.teacher-host-input{
    border:1px solid #1abc9c;
    height: 45px;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-left: -7%;
}

.teacher-host-input:focus{
    border-color: #1abc9c;
    outline: 0;
    box-shadow: none;
}

.teacher-host-label{
    height: 45px;
    color: #1abc9c;
    font-size: 14px;
    margin-bottom: 25px;
    padding-top: 7px;
}

.checkbox-group{
    height: 45px;
    margin-bottom: 25px;
    margin-left: -9%;
}
.checkbox-group>div{
    margin-top: 7px;

}

/* checkbox*/
.checkbox-wrapper {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #1abc9c;
    border-radius: 15px;
    cursor: pointer;
}
.checkbox {
    display: none;
}

.checkbox-label{
    background-color: #1abc9c;
    height: 30px;
    width: 30px;
    padding: 9px;
    display: none;
    cursor: pointer;
}

.checkbox-div{
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    display: none;
    cursor: pointer;
}

.position-text{
    margin-top: -37px;
    margin-left: 40px;
    font-size: 16px;
    color: #1abc9c;
}

.btn-upload{
    background-color: #ffffff;
    color: #1abc9c;
    border:1px solid #1abc9c;
}

.btn-upload:hover{
    color: #ffffff;
    background-color: #1abc9c;
}

.indemnity-title-sm{
    font-size: 14px;
    color: rgb(179, 179, 179);
}

.indemnity-number-lg{
    font-size: 36px;
    color: rgb(234, 184, 0);
}

.table-indemnity>tbody>tr>td{
    border: none;
}

.table-indemnity{
    border-collapse: inherit;
}

/*order css*/

.panel-order{
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 10px #ecf0f1;
    padding: 15px 10px 15px 10px;
    margin-bottom: 15px;
}

.panel-order-item-head{
    height: 50px;
    padding-top: 10px;
    font-size: 16px;
}

.panel-order-start{
    height: 50px;
    padding-top: 15px;
    font-size: 16px;
    float: right;
}

.panel-order-detail{
    margin-top: 15px;
}

.panel-order-detail>p{
    font-size: 14px;
}

/*courses manage*/
.course-box{
    height: 140px;
    padding: 10px;
    background-color: rgb(242, 242, 242);
    margin-bottom: 10px;
}

.course-title{
    margin-top: -2px;
    font-size: 20px;
}

.course-content{
    font-size: 12px;
    height: 55px;
    overflow: hidden;
}

.course-value{
    font-size: 17px;
    color: #1abc9c;
    float: right;
    margin-top: -2px;
}


.course-input{
    border: 1px solid #bdc3c7;
    width: 40%;
    border-radius: 2px;
    margin-top: 20px;
}

.course-text{
    border: 1px solid #bdc3c7;
    width: 60%;
    border-radius: 2px;
    margin-top: 20px;
    resize: none;
}



.user-host-nav{
    height: 250px;
    background: url(/img/2.jpg) center;
    background-size: cover;
    vertical-align:middle;
    padding: 0;
}

.user-mes{
    min-height: 400px;
    background-color: #ffffff;
}

.complete-mes{
    padding: 3% 20% 3% 20%;
}

.complete-mes input{
    margin-bottom: 20px;
}

.my-order-host{
    min-height: 600px;
}

.my-order-table thead tr{
    background-color: #000;
    color: #ffffff
}

.my-order-table tr th{
    font-size: 16px;
    height: 50px;
    padding: 0;
}

.my-order-table tbody tr td{
    height: 60px;
    padding-top: 20px;
    vertical-align: middle;
}

.order-head{
    background-color: rgb(237, 237, 237);
}

.order-head td{
    font-size: 14px;
    color: #1abc9c;
}

.order-buy-date{
    color: #000;
}

.order-teacher-header{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.order-teacher-name{
    margin: 0 15px;
}

.order-operation{
    font-size: 16px;
}

.pagination li a{
    border: 1px solid #DDDDDD;
    color: #000000;
    border-radius: 6px;
    margin: 0 5px;
}

.pagination li:first-child>a,
.pagination li:first-child>span{
    border-left: 1px solid #DDDDDD;
}

.pagination li.disabled>a,
.pagination li.disabled>a:hover
{
    color: #DDDDDD;
    cursor: not-allowed;
    background-color: rgba(255,255,255,.3);
    border-right-color: #dfe2e5;
}

.pagination li.active>a:hover{
    color: #fff;
    background-color: #1abc9c;
    border-color: #dfe2e5;
}
/*common template*/

.list-select-item>p{
    border-bottom: 1px solid #ecf0f1;
    margin: 0;
    padding: 15px 0 15px 0;
    font-size: 14px;
}

.list-group-select>a{
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}

.list-group-select{
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 10px #ecf0f1;
}

.list-select-item-active{
    background-color: #1abc9c;
    color: #FFFFFF;
}

.list-select-item>p:hover{
    background-color: #1abc9c;
    color: #FFFFFF;
}

.user-position-list{
    padding-top: 5px;
    padding-bottom: 0;
    width: 164px;
}

.user-position-list a{
    padding-left: 10px;
    padding-right: 10px;
}

.user-position-list h6{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.position-list-footer{
    margin-top: 10px;
    background-color: #ecf0f1;
    padding: 9px 5px;
    color: #bdc3c7;
    font-size: 13px;
    height: 44px;
}

.position-list-footer a{
    color: #bdc3c7;
    float: right;
}