body{
    background: url('/img/1.jpg');
    background-size: cover;
}

.input-group-box{
    float: right;
    margin-top: 10%;
    width: 400px;
    background: #ffffff;
}

.container .input-group-box{
    border-radius: 0;
    padding: 30px;
}

.input-group-box .form-control{
    border-radius: 3px;
    border-width: 1px;
}

.input-group-box p{
    font-size: 18px;
    text-align: center;
}

.input-with-icon{
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #dddddd;
}

.input-with-icon span{
    margin-left: 5px;
    margin-right: 10px;
}

.input-ver{
    width: 1px;
    background: #dddddd;
    display: inline-block;
    height: 30px;
    position: absolute;
    margin-top: -3px;
}

.login-input,
.login-input:focus,
.login-input:active{
    border: none;
    box-shadow: none;
    outline: none;
    margin-left: 20px;
}

.btn-login{
    border-radius: 0;
    margin-top: 10px;
}

.input-herf{
    font-size: 13px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-verify{
    margin-left: 3px;
    background-color: #ffffff;
    color: #555555;
    border: 2px solid #dddddd;
    font-size: 14px;
    width: 135px;
    margin-bottom: 1px;
}

.input-verify{
    padding-bottom: 1px;
    height: 41px;
    width: 194px;
}

.input-verify,
.input-verify:focus{
    outline: 1px solid #dddddd;
    -moz-outline-radius: 3px;
}

.register-footer{
    font-size: 14px;
}

.input-with-icon .glyphicon{
    color: #bdc3c7;
}


/*adapt for mobiles*/


@media (min-width: 1024px) {
    .input-group-box>img {
        display: none;
    }
}



@media (max-width: 1024px) {
    body {
        background: none;
    }

    .suspend {
        display: none;
    }

    .container {
        padding: 0;
    }

    .container .input-group-box {
        float: none;
        width: 340px;
        padding: 0 40px;
        text-align: center;
    }

    .input-group-box>img {
        height: 150px;
        margin: 20px 0;
    }

    #header {
        display: none;
    }

    #footer {
        display: none;
    }

    #mobileHeader {
        display: none;
    }

    #page {
        width: 100%;
        display: block;
    }

    #page>.container {
        width: 340px;
        max-width: 340px;
        overflow-x: hidden;
        margin: 0 auto;
    }

    .teacherLogin {
        display: none;
    }

    .loginTitle {
        display: none;
    }

    .btn-warning,
    .btn-primary {
        background-color: #0072b5;
    }

    .register-login,
    .input-herf {
        color: #0072b5;
    }


    .input-verify {
        margin-right: 10px;
        width: 110px;
    }

    .btn-verify {
        float: right;
        margin: 0;
    }
}