.search-teacher-head{
    padding-top: 45px;
    height: 350px;
}

.search-teacher-body{
    background: #FFFFFF;
    min-height: 600px;
    padding: 5%;
}

.teacher-info-panel{
    height: 390px;
    border: 1px #DDDDDD solid;
    margin-bottom: 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 240px;
}


.teacher-info-panel-head{
    height: 180px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: relative;
}


.teacher-info-panel-body{
    padding-left: 15px;
    padding-right: 15px;
}

.teacher-info-introduce,
.teacher-info-attribute{
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 2px;
}

.teacher-info-introduce{
    height: 42px;
    text-after-overflow: ellipsis;
    overflow: hidden;
}

.teacher-info-name{
    font-size: 16px;
    color: #000000;
}

.teacher-info-value{
    font-size: 18px;
    color: #1abc9c;
    float: right;
}

.teacher-info-ver{
    height: 1px;
    background-color: #DDDDDD;
}

.btn-select{
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0;
    text-align: center;
    font-size: 40px;
}

.btn-select:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.btn-select span{
    margin-left: 20px;
}

.study-text{
    padding-right: 0;
}

.study-text p{
    margin-top: 23px;
    float: right;
    font-size: 40px;
    color: #ffffff;
}

.tag-status-success{
    background-color: #1abc9c;
}

.tag-status-warning{
    background-color: rgb(250, 163, 30);
}

.tag-status-failed{
    background-color: rgb(93, 93, 93);
}

.tag-status{
    height: 20px;
    width: 76px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.triangle-top-right-success{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid #1abc9c;
    border-left: 10px solid transparent;
    right: 76px;
    top: 0;
}

.triangle-top-right-warning{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid rgb(250, 163, 30);
    border-left: 10px solid transparent;
    right: 76px;
    top: 0;
}

.triangle-top-right-failed{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid rgb(93, 93, 93);
    border-left: 10px solid transparent;
    right: 76px;
    top: 0;
}

.triangle-bottom-left-success{
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid #1abc9c;
    border-left: 10px solid transparent;
    right: 76px;
    bottom: 0;
}

.triangle-bottom-left-warning{
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgb(250, 163, 30);
    border-left: 10px solid transparent;
    right: 76px;
    bottom: 0;
}

.triangle-bottom-left-failed{
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgb(93, 93, 93);
    border-left: 10px solid transparent;
    right: 76px;
    bottom: 0;
}



.tag-status .status-text{
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}

.select-screen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    top: 0;
    padding-top: 100px;
    display: none;
    overflow: auto;
}

.select-screen a{
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
}

.select-screen a:hover,
.select-screen a:active{
    color: #1abc9c;
}

.select-screen-area{
    margin-top: 52px;
    padding-left: 46px;
    display: none;
}

.select-screen-position{
    float: right;
    padding-left: 23px;
    display: none;
    margin-top: 140px;
}

.select-screen-hero{
    float: right;
    padding-left: 55px;
    margin-top: 200px;
    display: none;
}

.hero-header-sm{
    height: 40px;
    width: 40px;
    margin-top: -10px;
}




/*adapt for mobiles*/

@media (min-width: 768px) {
    .search-teacher-head-mobile {
        display: none;
    }
}



@media (max-width: 768px) {

    /*/!*make page nav invisible*!/*/

    /*.search-teacher-body nav {*/
        /*display: none;*/
    /*}*/


    .search-teacher-head,
    .suspend {
        display: none;
    }

    .search-teacher-head-mobile {
        margin: 0 0 20px 0;
        text-align: center;
    }

    .search-teacher-head-mobile>div {
        display: inline-block;
    }

    .otherSelector {
        width: 100px;
        min-width: 100px;
    }

    .search-teacher-head-mobile>div>ul {
        padding: 6px 0;
        background-color: white;
        border-radius: 6px;
        z-index: 11;
    }

    .search-teacher-body {
        background-color: rgb(239, 243, 246);
    }

    .search-teacher-body>div>div {
        padding: 0;
    }

    .teacher-info-panel {
        width: 100%;
        max-width: 350px;
        height: 415px;
        margin: 10px auto;
        background-color: white;
    }

    .teacher-info-attribute {
        padding: 0;
        margin: 5px 0 0 0;
    }

    .triangle-top-right-success,
    .triangle-bottom-left-success {
        display: none;
    }

    .tag-status-success {
        background-color: rgba(0, 114, 181, 0.7);
    }

    .tag-status {
        padding: 5px;
        width: 96px;
        height: 27px;
    }

    .teacher-info-value {
        color: #0072b5;
    }

    .teacher-info-name {
        font-weight: bold;
    }

    /*.teacher-info-attribute {*/
        /*text-align: center;*/
    /*}*/
    .dropdown-menu>li>a,
    .dropdown-menu>li>span>a {
        color: #080808;
        background-color: white;
        padding: 5px;
        font-size: 12px;
    }

    .dropOption>li>a {
        background-color: #0072b5;
        color: white;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .selectMenu {
        width: 100px;
        padding: 5px;
        text-align: center;
        font-size: 12px;
    }

    .open>.dropdown-toggle.btn-default:hover,
    .open>.dropdown-toggle.btn-default,
    .btn-default {
        color: #080808;
        background-color: white;
    }


    .btn-default:active:hover,
    .btn-default:hover {
        color: #080808;
    }


    .heroSelector {
        width: 240px;
        min-width: 240px;
    }

    .heroSelector>li {
        text-align: left;
        padding: 0 20px;
    }

    .heroPic>img {
        height: 20px;
        width: 20px;
        vertical-align: bottom;
    }

    #mask {
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        display: none;
    }

    #page {
        padding: 0;
    }


    .title-divider {
        background-color: #cccccc;
        height: 1px;
        margin-bottom: 10px;
    }

}