.search-teacher-head{
    height: 250px;
    /*background: url('/img/2.jpg');*/
}

.search-teacher-body{
    background: #FFFFFF;
    min-height: 600px;
    padding: 5%;
}

.teacher-info-panel{
    height: 390px;
    border: 1px #DDDDDD solid;
    margin-bottom: 20px;
    width: 240px;
    border-radius: 6px;
    cursor: pointer;
}

.teacher-info-panel-head{
    height: 180px;
    background-size: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: relative;
}

.teacher-info-panel-body{
    padding-left: 15px;
    padding-right: 15px;
}

.teacher-info-introduce,
.teacher-info-attribute{
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 2px;
}

.teacher-info-introduce{
    height: 42px;
    text-after-overflow: ellipsis;
    overflow: hidden;
}

.teacher-info-name{
    font-size: 16px;
    color: #000000;
}

.teacher-info-value{
    font-size: 18px;
    color: #1abc9c;
    float: right;
}

.teacher-info-ver{
    height: 1px;
    background-color: #DDDDDD;
}

.btn-select{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0;
    text-align: center;
}

.btn-select:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.btn-select span{
    margin-left: 20px;
}

.study-text{
    padding-right: 0;
}

.study-text p{
    margin-top: 27px;
    float: right;
    font-size: 16px;
    color: #ffffff;
}

.tag-status-success{
    background-color: #1abc9c;
}

.tag-status-warning{
    background-color: rgb(250, 163, 30);
}

.tag-status-failed{
    background-color: rgb(93, 93, 93);
}

.tag-status{
    height: 20px;
    width: 76px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.triangle-top-right-success{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid #1abc9c;
    border-left: 10px solid transparent;
    right: 76px;
    top: 0;
}

.triangle-top-right-warning{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid rgb(250, 163, 30);
    border-left: 10px solid transparent;
    right: 76px;
    top: 0;
}

.triangle-top-right-failed{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid rgb(93, 93, 93);
    border-left: 10px solid transparent;
    right: 76px;
    top: 0;
}

.triangle-bottom-left-success{
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid #1abc9c;
    border-left: 10px solid transparent;
    right: 76px;
    bottom: 0;
}

.triangle-bottom-left-warning{
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgb(250, 163, 30);
    border-left: 10px solid transparent;
    right: 76px;
    bottom: 0;
}

.triangle-bottom-left-failed{
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgb(93, 93, 93);
    border-left: 10px solid transparent;
    right: 76px;
    bottom: 0;
}



.tag-status .status-text{
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}

.select-screen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    top: 0;
    padding-top: 100px;
    display: none;
    overflow: auto;
}

.select-screen a{
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-screen a:hover,
.select-screen a:active{
    color: #1abc9c;
}

.select-screen-area{
    margin-left: 20px;
    display: none;
}

.select-screen-position{
    float: right;
    margin-left: 20px;
    padding-left: 40px;
    display: none;
    margin-top: 60px;
}

.select-screen-hero{
    float: right;
    margin-left: 20px;
    padding-left: 40px;
    margin-top: 120px;
    display: none;
}