#page{
    position: fixed;
    top: 60px;
    bottom: 105px;
    left: 0;
    width: 100%;
    overflow: auto;
    height: auto;
    margin: 0;
    padding-bottom: 0;
}

.ver-line{
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 100%;
    background: #cccccc repeat-y;
    overflow: hidden;
}


.time-line {
    min-width: 800px;
    position: relative;
    min-height: 100%;
}

.time-line ul{
    overflow:hidden;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}
.time-line li{
    width: 50%;
    height:100%;
}
.time-line .in{
    height: 50px;
    margin-bottom: 40px;
    position: relative;
}

.time-line .in .panel{
    height: 100%;
    width: 70%;
    margin-left: 20%;
    padding: 0;
    margin-top: 5%;
}

.time-line .in .panel-body{
    padding: 20px 30px 5px 30px;
    font-size: 20px;
}

.time-line .a .panel-body{
    float: right;
}

.time-line .b .panel-body{
    float: left;
}

.time-line .a{
    float: left;
    padding-left: 15%;
}
.time-line .a1{
    float: right;
    color: #ffffff;
    margin-left: 5%;
}
.time-line .b{
    float: right;
    padding-right: 15%;
}

.time-line .dot{
    height: 15px;
    width: 15px;
    background-color: #cccccc;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 40px;
}

.time-line .a .dot{
    right: 0;
    margin-right: -8px;
}

.time-line .time-date{
    overflow: hidden;
    position: absolute;
    top: 30px;
}

.time-line .a .time-date{
    right: 0;
    margin-right: -100px;
}

.time-line .b .dot{
    left: 0;
    margin-left: -7px;
}

.time-line .b .time-date{
    left: 0;
    margin-left: -100px;
}

.time-date{
    font-size: 14px;
    text-align: center;
    color: #cccccc;
}

.time-date span{
    font-size: 18px;
    text-align: center;
}