{% extends 'base.html' %}
{% block css %}
<link href="/css/custom/follow_mentor.css" rel="stylesheet"/>
{% endblock %}

{% block define %}
  <div class="container mentor-head-list">
    {% for mentor in active_user.follow.all %}
      <div class="col-lg-1 col-md-1 mentor-head" id="mentor{{ mentor.id }}">
        <img src="{{ mentor.avatar }}">
        <div class="mentor-cancel" onclick="cancelFollow('{{ mentor.id }}')">
          <span>x</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
  <script src="/js/student/follow_mentors.js"></script>
{% endblock %}