{% extends 'base.html' %}
{% block define %}
<div class="time-line" style="position: relative;">
  <div class="ver-line">
  </div>
  <ul>
    <li class="a">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
    <li class="b">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
    <li class="a">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
    <li class="b">
      <div class="in">
        <i class="dot"></i>
        <div class="panel panel-primary">
          <div class="panel-body">
            asdlkfjlsakjdflsadj
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}