{% extends 'base.html' %}
{% block define %}
  <div class="col-lg-12 col-md-12 my-order-host">
    <div class="container" style="margin-top: 20px">
      <table class="table my-order-table">
        {% csrf_token %}
        <thead>
        <tr style="border-right: solid 1px #000000;">
          <th>教练名称</th>
          <th>模式</th>
          <th>价格</th>
          <th>开课时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          <tr class="order-head" style="border-right: solid 1px rgb(237,237,237);">
            <td style="color: #000000;">
              订单号：{{ order.order_id }}
            </td>
            <td style="color: #000000;">
              购买时间：<span class="order-buy-date">{{ order.create_time | date:"Y/m/d H:i:s" }}</span>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-info" href="http://forum.fibar.cn/" target="_blank">去社区讨论</a></td>
          </tr>
          <tr style="border-left: solid 1px rgb(237,237,237);border-right: solid 1px rgb(237,237,237);height: 120px;">
            <td>
              <img src="{{ order.teach_by.avatar }}" class="order-teacher-header">
              <span class="order-teacher-name">{{ order.teach_by.nick }}</span>
              {% if not order.status == 6 and not order.status == 5 %}
                <span><a href="#" onclick="viewContact('{{ order.teach_by.phone }}', '{{ order.teach_by.yy }}', '{{ order.teach_by.qq }}')">查看联系方式</a></span>
              {% endif %}
            </td>
            <td>
              {{ order.course_name }}
            </td>
            <td>
              ￥{{ order.order_price }}
            </td>
            <td>
              {% if not order.status == 5 and not order.status == 6 %}
              {{ order.teach_start_time | date:"m月d号H:i开课" }}
              {% endif %}
            </td>
            <td>
              {% if order.status == 1 %}
                待教练确认
              {% elif order.status == 2 %}
                已确认
              {% elif order.status == 3 %}
                已完成
              {% elif order.status == 4 %}
                已评价
              {% elif order.status == 5 %}
                已撤单
              {% elif order.status == 6 %}
                待支付
              {% endif %}
            </td>
            <td class="order-operation">
              {% if order.status == 3 %}
                <a href="/user/appraise_order?order_id={{ order.order_id }}">评价</a>
              {% elif order.status == 6 %}
                <a href="#" onclick="toPay('{{ order.order_id }}')">支付</a>
                <a href="#" onclick="cancelOrder('{{ order.id }}')">撤销</a>
              {% endif %}
            </td>
          </tr>
            <tr style="height: 80px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if orders.has_other_pages %}
        <nav class="col-md-12 col-lg-12 text-center">
          <ul class="pagination">
            {% if orders.has_previous %}
              <li>
                <a href="/user/my_orders?page_num={{ orders.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-left"></span>
                </a>
              </li>
            {% endif %}

            {% for page in orders.paginator.page_range %}
              {% if page == orders.number %}
                <li class="active pagination-page"><a href="#">{{ page }}</a></li>
              {% else %}
                <li class="pagination-page"><a href="/user/my_orders?page_num={{ page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if orders.has_next %}
              <li>
                <a href="/user/my_orders?page_num={{ orders.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <a href="#" aria-label="Next">
                  <span aria-hidden="true" class="glyphicon glyphicon-menu-right"></span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="mentor-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">教练联系方式</h4>
        </div>
        <div class="modal-body">
{#          <p>yy:<span id="yy"></span></p>#}
          <p>qq:<span id="qq"></span></p>
          <p>电话<span id="phone"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" aria-hidden="false">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">支付操作</h4>
        </div>
        <div class="modal-body">
          <p>正在支付...</p>
        </div>
        <div class="modal-footer">
          <a href="/user/my_orders" type="button" class="btn btn-primary">支付完成</a>
          <a href="https://cshall.alipay.com/hall/index.htm" type="button" class="btn btn-default">支付遇到问题</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="/js/student/my_orders.js"></script>
{% endblock %}